:host {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --light: #fff;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #812e2b;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}


.card {
    width: 250px;
    height: auto;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.card_profile_img {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin: 0 auto;
    margin-top: -60px;

}
.card_profile_img img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.card_background_img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    background-color: #e1e7ed;
    background: url("https://source.unsplash.com/9wg5jCEPBsw");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.user_details{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.user_details p {
    margin-bottom: 20px;
    margin-top: -5px;
}

.user_details h3 {
    margin-top: 10px;
    text-align: center;
}

.user_view{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    gap: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
}



@media screen and (max-width: 543px) {
.card{
    display: flex;
    width: 100%;
}
.card_background_img{
    display: none;
}
.card_profile_img{
    margin: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.card_profile_img img{
    width: 70px;
    height: 70px;
}
.user_view{
    flex-direction: column;
}
}










