
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

header{
    background-color: #2B5278;
    display: flex;
    justify-content: center;
}

.content{
    width: 85%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.content-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-logo{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100%;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden; 
}

.logo img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

a {
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


:host ::ng-deep button.p-button-plain:hover {
    background-color: transparent !important;
    border: 0 solid transparent !important;
}
:host ::ng-deep button.p-button-plain:active {
    background-color: transparent !important;
    border: 0 solid transparent !important;
}

.headerNav{
display: flex;
align-items: center;
}
/* Для мобильных устройств шириной до 767px */
@media screen and (max-width: 767px) {
    .content {
      width: 100%; /* Ширина контейнера на всю ширину экрана */
      padding: 0 20px; /* Добавляем отступы слева и справа */
      flex-direction: column; /* Располагаем элементы вертикально */
      align-items: flex-start; /* Выравниваем элементы по левому краю */
    }
  
    .content-logo {
      margin-bottom: 20px; /* Отступ снизу для логотипа */
    }
  
    .menu {
      display: none; /* Скрываем меню */
    }
  
    .headerNav {
      display: flex;
      align-items: center;
      flex-grow: 1; /* Растягиваем блок, чтобы кнопка занимала всю доступную ширину */
      justify-content: space-between; /* Размещаем элементы по краям */
      padding-top: 20px; /* Добавляем отступ сверху для выравнивания с логотипом */
    }
  
    .headerNav a {
      font-size: 1.2rem; /* Уменьшаем размер шрифта */
    }
  
    .headerNav p-avatar {
      margin-right: 20px; /* Отступ между аватаром и кнопкой */
    }
  }
  