
<div style="width: 100%; display: flex; justify-content: space-around;"> 
    <h2>База резюме</h2>
</div>  

<div class="w100 cont-horiz" style="background-color:#D0DDED;">
	<!-- Общий лист 1200px -->
	<div class="cont-vert-center-between" style=" gap:10px 10px;  max-width:1200px;">
		<div class="cont-horiz-center-start" style="gap: 30px 30px;">  
			<!-- Основное поле-->
			<div>
                <!-- Заголовок -->
               
                <!-- Карточки -->
                <div class="cont-horiz-start-start w100" style="gap:30px 30px; flex-flow: wrap; "> <!-- -->
                    <!-- Карточка 1 Start -->
                    <div class="whitebox cont-vert-start-start"  >
                        <div class="w100 " style="text-align:left;">
                            <h3>Заголовок</h3>
                        </div>  
                        <p>описание описание описание описание описание описание
                        описание описание описание описание описание
                        описание описание описание описание описание описание описание
                        </p>
                        <div class="w100 " style="text-align:left;">
                            <h4>Специальность:</h4> 
                        </div>   
                        <!-- Теги -->
                        <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                            <!-- Тег1 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Мобильный разработчик
                                <div class="round30-yellow">
                                    S
                                </div>
                            </div>
                            <!-- Тег2 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Desctop разработчик
                                <div class="round30-red">
                                    S
                                </div>
                            </div>
                        </div>	
                        <div class="w100 " style="text-align:left;">
                            <h4>Навыки:</h4>
                            <!-- Теги -->
                            <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                                <!-- Тег1 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-green">
                                        S
                                    </div>
                                </div>
                                <!-- Тег2 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-red">
                                        S
                                    </div>
                                </div>
                            </div>	
                        </div>
                        <div class="w100 cont-vert-start-start" style="text-align:left; ">
                            <h4>Мотивация:</h4>
                            <!-- Теги -->
                            <div class="horiz-start-start" style="display:flex; gap:10px 10px;  flex-flow:wrap;">
                                <div class="btn-yellow cont-horiz" style="gap:10px 10px;">
                                    Без оплаты 
                                </div>
                                <div class="btn-green cont-horiz" style="gap:10px 10px;">
                                    За оплату 
                                </div>
                                
                                <div class="btn-magenta cont-horiz" style="gap:10px 10px;">
                                    Нужна практика
                                </div>
                                <div class="btn-blue-light cont-horiz" style="gap:10px 10px;">
                                    За долю
                                </div>
                            </div>
                        </div>
                        
                        <div class="w100 cont-horiz-between" style="margin-top: 30px;">
                            <!-- Аватарка -->
                            <img src="img/ava.png">
                            <div class="cont-horiz" style="gap: 15px 15px;">
                                <!-- Лайки -->
                                <div class="cont-vert">	
                                    <img src="img/like.png" style="width:30px; height:30px;">
                                    12
                                </div>
                                <!-- Комментарии -->
                                <div class="cont-vert" style="width:30px; height:30px;">	
                                    <img src="img/comment.png">
                                    24
                                </div>
                                
                            </div>
                        </div>
                    </div> 
                    <!-- Карточка 1 End -->
                    
                    <!-- Карточка 2 Start -->
                    <div class="whitebox cont-vert-start-start"  >
                        <div class="w100 " style="text-align:left;">
                            <h3>Заголовок</h3>
                        </div>  
                        <p>описание описание описание описание описание описание
                        описание описание описание описание описание
                        описание описание описание описание описание описание описание
                        </p>
                        <div class="w100 " style="text-align:left;">
                            <h4>Специальность:</h4> 
                        </div>   
                        <!-- Теги -->
                        <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                            <!-- Тег1 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Мобильный разработчик
                                <div class="round30-yellow">
                                    S
                                </div>
                            </div>
                            <!-- Тег2 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Desctop разработчик
                                <div class="round30-red">
                                    S
                                </div>
                            </div>
                        </div>	
                        <div class="w100 " style="text-align:left;">
                            <h4>Навыки:</h4>
                            <!-- Теги -->
                            <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                                <!-- Тег1 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-green">
                                        S
                                    </div>
                                </div>
                                <!-- Тег2 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-red">
                                        S
                                    </div>
                                </div>
                            </div>	
                        </div>
                        <div class="w100 cont-vert-start-start" style="text-align:left; ">
                            <h4>Мотивация:</h4>
                            <!-- Теги -->
                            <div class="horiz-start-start" style="display:flex; gap:10px 10px;  flex-flow:wrap;">
                                <div class="btn-yellow cont-horiz" style="gap:10px 10px;">
                                    Без оплаты 
                                </div>
                                <div class="btn-green cont-horiz" style="gap:10px 10px;">
                                    За оплату 
                                </div>
                                
                                <div class="btn-magenta cont-horiz" style="gap:10px 10px;">
                                    Нужна практика
                                </div>
                                <div class="btn-blue-light cont-horiz" style="gap:10px 10px;">
                                    За долю
                                </div>
                            </div>
                        </div>
                        
                        <div class="w100 cont-horiz-between" style="margin-top: 30px;">
                            <!-- Аватарка -->
                            <img src="img/ava.png">
                            <div class="cont-horiz" style="gap: 15px 15px;">
                                <!-- Лайки -->
                                <div class="cont-vert">	
                                    <img src="img/like.png" style="width:30px; height:30px;">
                                    12
                                </div>
                                <!-- Комментарии -->
                                <div class="cont-vert" style="width:30px; height:30px;">	
                                    <img src="img/comment.png">
                                    24
                                </div>
                                
                            </div>
                        </div>
                    </div>  
                    <!-- Карточка 2 End -->
                    
                    <!-- Карточка 3 Start -->   
                    <div class="whitebox cont-vert-start-start"  >
                        <div class="w100 " style="text-align:left;">
                            <h3>Заголовок</h3>
                        </div>  
                        <p>описание описание описание описание описание описание
                        описание описание описание описание описание
                        описание описание описание описание описание описание описание
                        </p>
                        <div class="w100 " style="text-align:left;">
                            <h4>Специальность:</h4> 
                        </div>   
                        <!-- Теги -->
                        <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                            <!-- Тег1 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Мобильный разработчик
                                <div class="round30-yellow">
                                    S
                                </div>
                            </div>
                            <!-- Тег2 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Desctop разработчик
                                <div class="round30-red">
                                    S
                                </div>
                            </div>
                        </div>	
                        <div class="w100 " style="text-align:left;">
                            <h4>Навыки:</h4>
                            <!-- Теги -->
                            <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                                <!-- Тег1 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-green">
                                        S
                                    </div>
                                </div>
                                <!-- Тег2 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-red">
                                        S
                                    </div>
                                </div>
                            </div>	
                        </div>
                        <div class="w100 cont-vert-start-start" style="text-align:left; ">
                            <h4>Мотивация:</h4>
                            <!-- Теги -->
                            <div class="horiz-start-start" style="display:flex; gap:10px 10px;  flex-flow:wrap;">
                                <div class="btn-yellow cont-horiz" style="gap:10px 10px;">
                                    Без оплаты 
                                </div>
                                <div class="btn-green cont-horiz" style="gap:10px 10px;">
                                    За оплату 
                                </div>
                                
                                <div class="btn-magenta cont-horiz" style="gap:10px 10px;">
                                    Нужна практика
                                </div>
                                <div class="btn-blue-light cont-horiz" style="gap:10px 10px;">
                                    За долю
                                </div>
                            </div>
                        </div>
                        
                        <div class="w100 cont-horiz-between" style="margin-top: 30px;">
                            <!-- Аватарка -->
                            <img src="img/ava.png">
                            <div class="cont-horiz" style="gap: 15px 15px;">
                                <!-- Лайки -->
                                <div class="cont-vert">	
                                    <img src="img/like.png" style="width:30px; height:30px;">
                                    12
                                </div>
                                <!-- Комментарии -->
                                <div class="cont-vert" style="width:30px; height:30px;">	
                                    <img src="img/comment.png">
                                    24
                                </div>
                                
                            </div>
                        </div>
                    </div> 
                     <!-- Карточка 3 End -->
                </div>
            </div> 
            <div>
     
                <!-- Карточки -->
                <div class="cont-horiz-start-start w100" style="gap:30px 30px; flex-flow: wrap; "> <!-- -->
                    <!-- Карточка 1 Start -->
                    <div class="whitebox cont-vert-start-start"  >
                        <div class="w100 " style="text-align:left;">
                            <h3>Заголовок</h3>
                        </div>  
                        <p>описание описание описание описание описание описание
                        описание описание описание описание описание
                        описание описание описание описание описание описание описание
                        </p>
                        <div class="w100 " style="text-align:left;">
                            <h4>Специальность:</h4> 
                        </div>   
                        <!-- Теги -->
                        <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                            <!-- Тег1 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Мобильный разработчик
                                <div class="round30-yellow">
                                    S
                                </div>
                            </div>
                            <!-- Тег2 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Desctop разработчик
                                <div class="round30-red">
                                    S
                                </div>
                            </div>
                        </div>	
                        <div class="w100 " style="text-align:left;">
                            <h4>Навыки:</h4>
                            <!-- Теги -->
                            <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                                <!-- Тег1 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-green">
                                        S
                                    </div>
                                </div>
                                <!-- Тег2 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-red">
                                        S
                                    </div>
                                </div>
                            </div>	
                        </div>
                        <div class="w100 cont-vert-start-start" style="text-align:left; ">
                            <h4>Мотивация:</h4>
                            <!-- Теги -->
                            <div class="horiz-start-start" style="display:flex; gap:10px 10px;  flex-flow:wrap;">
                                <div class="btn-yellow cont-horiz" style="gap:10px 10px;">
                                    Без оплаты 
                                </div>
                                <div class="btn-green cont-horiz" style="gap:10px 10px;">
                                    За оплату 
                                </div>
                                
                                <div class="btn-magenta cont-horiz" style="gap:10px 10px;">
                                    Нужна практика
                                </div>
                                <div class="btn-blue-light cont-horiz" style="gap:10px 10px;">
                                    За долю
                                </div>
                            </div>
                        </div>
                        
                        <div class="w100 cont-horiz-between" style="margin-top: 30px;">
                            <!-- Аватарка -->
                            <img src="img/ava.png">
                            <div class="cont-horiz" style="gap: 15px 15px;">
                                <!-- Лайки -->
                                <div class="cont-vert">	
                                    <img src="img/like.png" style="width:30px; height:30px;">
                                    12
                                </div>
                                <!-- Комментарии -->
                                <div class="cont-vert" style="width:30px; height:30px;">	
                                    <img src="img/comment.png">
                                    24
                                </div>
                                
                            </div>
                        </div>
                    </div> 
                    <!-- Карточка 1 End -->
                    
                    <!-- Карточка 2 Start -->
                    <div class="whitebox cont-vert-start-start"  >
                        <div class="w100 " style="text-align:left;">
                            <h3>Заголовок</h3>
                        </div>  
                        <p>описание описание описание описание описание описание
                        описание описание описание описание описание
                        описание описание описание описание описание описание описание
                        </p>
                        <div class="w100 " style="text-align:left;">
                            <h4>Специальность:</h4> 
                        </div>   
                        <!-- Теги -->
                        <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                            <!-- Тег1 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Мобильный разработчик
                                <div class="round30-yellow">
                                    S
                                </div>
                            </div>
                            <!-- Тег2 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Desctop разработчик
                                <div class="round30-red">
                                    S
                                </div>
                            </div>
                        </div>	
                        <div class="w100 " style="text-align:left;">
                            <h4>Навыки:</h4>
                            <!-- Теги -->
                            <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                                <!-- Тег1 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-green">
                                        S
                                    </div>
                                </div>
                                <!-- Тег2 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-red">
                                        S
                                    </div>
                                </div>
                            </div>	
                        </div>
                        <div class="w100 cont-vert-start-start" style="text-align:left; ">
                            <h4>Мотивация:</h4>
                            <!-- Теги -->
                            <div class="horiz-start-start" style="display:flex; gap:10px 10px;  flex-flow:wrap;">
                                <div class="btn-yellow cont-horiz" style="gap:10px 10px;">
                                    Без оплаты 
                                </div>
                                <div class="btn-green cont-horiz" style="gap:10px 10px;">
                                    За оплату 
                                </div>
                                
                                <div class="btn-magenta cont-horiz" style="gap:10px 10px;">
                                    Нужна практика
                                </div>
                                <div class="btn-blue-light cont-horiz" style="gap:10px 10px;">
                                    За долю
                                </div>
                            </div>
                        </div>
                        
                        <div class="w100 cont-horiz-between" style="margin-top: 30px;">
                            <!-- Аватарка -->
                            <img src="img/ava.png">
                            <div class="cont-horiz" style="gap: 15px 15px;">
                                <!-- Лайки -->
                                <div class="cont-vert">	
                                    <img src="img/like.png" style="width:30px; height:30px;">
                                    12
                                </div>
                                <!-- Комментарии -->
                                <div class="cont-vert" style="width:30px; height:30px;">	
                                    <img src="img/comment.png">
                                    24
                                </div>
                                
                            </div>
                        </div>
                    </div>  
                    <!-- Карточка 2 End -->
                    
                    <!-- Карточка 3 Start -->   
                    <div class="whitebox cont-vert-start-start"  >
                        <div class="w100 " style="text-align:left;">
                            <h3>Заголовок</h3>
                        </div>  
                        <p>описание описание описание описание описание описание
                        описание описание описание описание описание
                        описание описание описание описание описание описание описание
                        </p>
                        <div class="w100 " style="text-align:left;">
                            <h4>Специальность:</h4> 
                        </div>   
                        <!-- Теги -->
                        <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                            <!-- Тег1 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Мобильный разработчик
                                <div class="round30-yellow">
                                    S
                                </div>
                            </div>
                            <!-- Тег2 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Desctop разработчик
                                <div class="round30-red">
                                    S
                                </div>
                            </div>
                        </div>	
                        <div class="w100 " style="text-align:left;">
                            <h4>Навыки:</h4>
                            <!-- Теги -->
                            <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                                <!-- Тег1 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-green">
                                        S
                                    </div>
                                </div>
                                <!-- Тег2 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-red">
                                        S
                                    </div>
                                </div>
                            </div>	
                        </div>
                        <div class="w100 cont-vert-start-start" style="text-align:left; ">
                            <h4>Мотивация:</h4>
                            <!-- Теги -->
                            <div class="horiz-start-start" style="display:flex; gap:10px 10px;  flex-flow:wrap;">
                                <div class="btn-yellow cont-horiz" style="gap:10px 10px;">
                                    Без оплаты 
                                </div>
                                <div class="btn-green cont-horiz" style="gap:10px 10px;">
                                    За оплату 
                                </div>
                                
                                <div class="btn-magenta cont-horiz" style="gap:10px 10px;">
                                    Нужна практика
                                </div>
                                <div class="btn-blue-light cont-horiz" style="gap:10px 10px;">
                                    За долю
                                </div>
                            </div>
                        </div>
                        
                        <div class="w100 cont-horiz-between" style="margin-top: 30px;">
                            <!-- Аватарка -->
                            <img src="img/ava.png">
                            <div class="cont-horiz" style="gap: 15px 15px;">
                                <!-- Лайки -->
                                <div class="cont-vert">	
                                    <img src="img/like.png" style="width:30px; height:30px;">
                                    12
                                </div>
                                <!-- Комментарии -->
                                <div class="cont-vert" style="width:30px; height:30px;">	
                                    <img src="img/comment.png">
                                    24
                                </div>
                                
                            </div>
                        </div>
                    </div> 
                     <!-- Карточка 3 End -->
                </div>
            </div> 
            <div>
                <!-- Заголовок -->
                <!-- Карточки -->
                <div class="cont-horiz-start-start w100" style="gap:30px 30px; flex-flow: wrap; "> <!-- -->
                    <!-- Карточка 1 Start -->
                    <div class="whitebox cont-vert-start-start"  >
                        <div class="w100 " style="text-align:left;">
                            <h3>Заголовок</h3>
                        </div>  
                        <p>описание описание описание описание описание описание
                        описание описание описание описание описание
                        описание описание описание описание описание описание описание
                        </p>
                        <div class="w100 " style="text-align:left;">
                            <h4>Специальность:</h4> 
                        </div>   
                        <!-- Теги -->
                        <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                            <!-- Тег1 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Мобильный разработчик
                                <div class="round30-yellow">
                                    S
                                </div>
                            </div>
                            <!-- Тег2 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Desctop разработчик
                                <div class="round30-red">
                                    S
                                </div>
                            </div>
                        </div>	
                        <div class="w100 " style="text-align:left;">
                            <h4>Навыки:</h4>
                            <!-- Теги -->
                            <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                                <!-- Тег1 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-green">
                                        S
                                    </div>
                                </div>
                                <!-- Тег2 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-red">
                                        S
                                    </div>
                                </div>
                            </div>	
                        </div>
                        <div class="w100 cont-vert-start-start" style="text-align:left; ">
                            <h4>Мотивация:</h4>
                            <!-- Теги -->
                            <div class="horiz-start-start" style="display:flex; gap:10px 10px;  flex-flow:wrap;">
                                <div class="btn-yellow cont-horiz" style="gap:10px 10px;">
                                    Без оплаты 
                                </div>
                                <div class="btn-green cont-horiz" style="gap:10px 10px;">
                                    За оплату 
                                </div>
                                
                                <div class="btn-magenta cont-horiz" style="gap:10px 10px;">
                                    Нужна практика
                                </div>
                                <div class="btn-blue-light cont-horiz" style="gap:10px 10px;">
                                    За долю
                                </div>
                            </div>
                        </div>
                        
                        <div class="w100 cont-horiz-between" style="margin-top: 30px;">
                            <!-- Аватарка -->
                            <img src="img/ava.png">
                            <div class="cont-horiz" style="gap: 15px 15px;">
                                <!-- Лайки -->
                                <div class="cont-vert">	
                                    <img src="img/like.png" style="width:30px; height:30px;">
                                    12
                                </div>
                                <!-- Комментарии -->
                                <div class="cont-vert" style="width:30px; height:30px;">	
                                    <img src="img/comment.png">
                                    24
                                </div>
                                
                            </div>
                        </div>
                    </div> 
                    <!-- Карточка 1 End -->
                    
                    <!-- Карточка 2 Start -->
                    <div class="whitebox cont-vert-start-start"  >
                        <div class="w100 " style="text-align:left;">
                            <h3>Заголовок</h3>
                        </div>  
                        <p>описание описание описание описание описание описание
                        описание описание описание описание описание
                        описание описание описание описание описание описание описание
                        </p>
                        <div class="w100 " style="text-align:left;">
                            <h4>Специальность:</h4> 
                        </div>   
                        <!-- Теги -->
                        <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                            <!-- Тег1 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Мобильный разработчик
                                <div class="round30-yellow">
                                    S
                                </div>
                            </div>
                            <!-- Тег2 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Desctop разработчик
                                <div class="round30-red">
                                    S
                                </div>
                            </div>
                        </div>	
                        <div class="w100 " style="text-align:left;">
                            <h4>Навыки:</h4>
                            <!-- Теги -->
                            <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                                <!-- Тег1 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-green">
                                        S
                                    </div>
                                </div>
                                <!-- Тег2 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-red">
                                        S
                                    </div>
                                </div>
                            </div>	
                        </div>
                        <div class="w100 cont-vert-start-start" style="text-align:left; ">
                            <h4>Мотивация:</h4>
                            <!-- Теги -->
                            <div class="horiz-start-start" style="display:flex; gap:10px 10px;  flex-flow:wrap;">
                                <div class="btn-yellow cont-horiz" style="gap:10px 10px;">
                                    Без оплаты 
                                </div>
                                <div class="btn-green cont-horiz" style="gap:10px 10px;">
                                    За оплату 
                                </div>
                                
                                <div class="btn-magenta cont-horiz" style="gap:10px 10px;">
                                    Нужна практика
                                </div>
                                <div class="btn-blue-light cont-horiz" style="gap:10px 10px;">
                                    За долю
                                </div>
                            </div>
                        </div>
                        
                        <div class="w100 cont-horiz-between" style="margin-top: 30px;">
                            <!-- Аватарка -->
                            <img src="img/ava.png">
                            <div class="cont-horiz" style="gap: 15px 15px;">
                                <!-- Лайки -->
                                <div class="cont-vert">	
                                    <img src="img/like.png" style="width:30px; height:30px;">
                                    12
                                </div>
                                <!-- Комментарии -->
                                <div class="cont-vert" style="width:30px; height:30px;">	
                                    <img src="img/comment.png">
                                    24
                                </div>
                                
                            </div>
                        </div>
                    </div>  
                    <!-- Карточка 2 End -->
                    
                    <!-- Карточка 3 Start -->   
                    <div class="whitebox cont-vert-start-start"  >
                        <div class="w100 " style="text-align:left;">
                            <h3>Заголовок</h3>
                        </div>  
                        <p>описание описание описание описание описание описание
                        описание описание описание описание описание
                        описание описание описание описание описание описание описание
                        </p>
                        <div class="w100 " style="text-align:left;">
                            <h4>Специальность:</h4> 
                        </div>   
                        <!-- Теги -->
                        <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                            <!-- Тег1 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Мобильный разработчик
                                <div class="round30-yellow">
                                    S
                                </div>
                            </div>
                            <!-- Тег2 -->
                            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                Desctop разработчик
                                <div class="round30-red">
                                    S
                                </div>
                            </div>
                        </div>	
                        <div class="w100 " style="text-align:left;">
                            <h4>Навыки:</h4>
                            <!-- Теги -->
                            <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
                                <!-- Тег1 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-green">
                                        S
                                    </div>
                                </div>
                                <!-- Тег2 -->
                                <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                                    Visual Studio Code
                                    <div class="round30-red">
                                        S
                                    </div>
                                </div>
                            </div>	
                        </div>
                        <div class="w100 cont-vert-start-start" style="text-align:left; ">
                            <h4>Мотивация:</h4>
                            <!-- Теги -->
                            <div class="horiz-start-start" style="display:flex; gap:10px 10px;  flex-flow:wrap;">
                                <div class="btn-yellow cont-horiz" style="gap:10px 10px;">
                                    Без оплаты 
                                </div>
                                <div class="btn-green cont-horiz" style="gap:10px 10px;">
                                    За оплату 
                                </div>
                                
                                <div class="btn-magenta cont-horiz" style="gap:10px 10px;">
                                    Нужна практика
                                </div>
                                <div class="btn-blue-light cont-horiz" style="gap:10px 10px;">
                                    За долю
                                </div>
                            </div>
                        </div>
                        
                        <div class="w100 cont-horiz-between" style="margin-top: 30px;">
                            <!-- Аватарка -->
                            <img src="img/ava.png">
                            <div class="cont-horiz" style="gap: 15px 15px;">
                                <!-- Лайки -->
                                <div class="cont-vert">	
                                    <img src="img/like.png" style="width:30px; height:30px;">
                                    12
                                </div>
                                <!-- Комментарии -->
                                <div class="cont-vert" style="width:30px; height:30px;">	
                                    <img src="img/comment.png">
                                    24
                                </div>
                                
                            </div>
                        </div>
                    </div> 
                     <!-- Карточка 3 End -->
                </div>
            </div> 
        </div>
    </div>
</div>