<div class="content">
    <form [formGroup]="vacancyForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Заголовок карточки:</label>
        <input type="text" id="title" formControlName="title">
      </div>
  
      <div class="form-group">
        <label for="specialty">Специальность:</label>
        <input type="text" id="specialty" formControlName="specialty">
      </div>
  
      <div class="form-group">
        <label for="skills">Навыки:</label>
        <input type="text" id="skills" formControlName="skills">
      </div>
  
      <div class="form-group">
        <label for="about">О себе/Свободное поле:</label>
        <textarea id="about" formControlName="about"></textarea>
      </div>
  
      <div class="form-group">
        <label for="paymentMethod">Формат оплаты:</label>
        <select id="paymentMethod" formControlName="paymentMethod">
          <option value="">Выберите формат оплаты</option>
          <option value="Hourly">Почасовая оплата</option>
          <option value="Fixed">Фиксированная оплата</option>
          <option value="Monthly">Ежемесячная оплата</option>
        </select>
      </div>
  
      <div class="form-group">
        <button type="submit">Создать вакансию</button>
      </div>
    </form>
  </div>
  