<div class="container">
    <div class="card">
        <div class="card_background_img"></div>
        <div class="card_profile_img">
            <img src="../../../../../../../assets//images//profile_picture.png" alt="Картинка 1">
        </div>
        <div class="user_details" *ngIf="CurrentUser">
            <h3>{{CurrentUser.fullname}}</h3>
            <p>{{CurrentUser.post}}</p>
        </div>
    </div>
    <div class="information">
        <div class="information-item">
            <p-fieldset legend="Информация пользователя" class="User-Information" [toggleable]="true"
                [collapsed]="true">
                <form [formGroup]="userForm">
                    <div class="userform">
                        <div>
                            <label for="userlastName">Фамилия:</label>
                            <input type="text" id="userlastName" pInputText formControlName="lastName"
                                [attr.disabled]="isEditMode ? null : true" />
                        </div>
                        <div>
                            <label for="userFirstName">Имя:</label>
                            <input type="text" id="userFirstName" pInputText formControlName="firstName"
                                [attr.disabled]="isEditMode ? null : true" />
                        </div>
                        <div>
                            <label for="middleName">Отчество:</label>
                            <input type="text" id="middleName" pInputText formControlName="middleName"
                                [attr.disabled]="isEditMode ? null : true" />
                        </div>
                    </div>
                    <div class="userform">
                        <div>
                            <label for="phoneNumber">Номер телефона:</label>
                            <input type="tel" id="phoneNumber" pInputText formControlName="phoneNumber"
                                [attr.disabled]="isEditMode ? null : true" />
                        </div>
                        <div>
                            <label for="email">Email:</label>
                            <input type="email" id="userEmail" pInputText formControlName="email"
                                [attr.disabled]="isEditMode ? null : true" />
                        </div>
                    </div>
                </form>

                <div class="btns">
                    <ng-container *ngIf="!isEditMode">
                        <p-button label="Изменить" (onClick)="toggleEditMode()"></p-button>
                    </ng-container>
                    <ng-container *ngIf="isEditMode">
                        <button pButton pRipple label="Сохранить" class="p-button-success"></button>
                        <button pButton pRipple label="Отмена" class="p-button-danger"
                            (click)="resetUserForm()"></button>
                    </ng-container>
                </div>
            </p-fieldset>
            <p-fieldset legend="Сброс пароля" [toggleable]="true" [collapsed]="true">
                <form [formGroup]="resetPasswordForm">
                    <div>
                      <label for="newPassword">новый пароль:</label>
                      <input type="password" id="newPassword" pInputText formControlName="newPassword" />
                    </div>
                    <div>
                      <label for="ConfirmNewPassword">Подтвердите пароль:</label>
                      <input type="password" id="ConfirmNewPassword" pInputText formControlName="ConfirmNewPassword" />
                      <div *ngIf="resetPasswordForm.hasError('passwordMismatch')">
                        Пароли не совпадают.
                      </div>
                      <div *ngIf="resetPasswordForm.hasError('passwordLength')">
                        Пароль должен содержать не менее 8 символов.
                      </div>
                    </div>
                  </form>                  
                <div class="btns">
                    <p-button label="Изменить"></p-button>
                </div>

            </p-fieldset>
            <p-fieldset legend="изменение фотографии" [toggleable]="true" [collapsed]="true">

                <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                    (onUpload)="onUpload($event)" [multiple]="false" accept="image/*" [maxFileSize]="100000"
                    chooseLabel="Загрузить" uploadLabel="Обновить" cancelLabel="" uploadIcon="pi pi-upload"
                    [showCancelButton]="false">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>



            </p-fieldset>
        </div>
    </div>
</div>