<div class="container">
    <app-card-user [CurrentUser]="CurrentUser"></app-card-user>
    <div class="information">
        <div class="information-item">
            <p-fieldset legend="Информация пользователя" class="User-Information" [toggleable]="true"
                [collapsed]="true">
               <app-data-user [CurrentUser]="CurrentUser"></app-data-user>
            </p-fieldset>
            <p-fieldset legend="Сброс пароля" [toggleable]="true" [collapsed]="true">
                <app-reset-password [CurrentUser]="CurrentUser"> </app-reset-password>
            </p-fieldset>
            <p-fieldset legend="изменение фотографии" [toggleable]="true" [collapsed]="true">
              <app-uploaded-img></app-uploaded-img>
            </p-fieldset>
        </div>
    </div>
</div>