<div class="cardItem" (click)="viewItem(contentrequest.id)">

    <div class="valuecardItem">
        <div class="cardItemDelete">
            <h3>№{{ contentrequest.requestnumber }}</h3>
        </div>
            <ng-container *ngIf="contentrequest.namecompany != null">
                <p>Компания: {{ contentrequest.namecompany }}</p>
            </ng-container>
            <ng-container *ngIf="contentrequest.namecompany == null">
                <p>ФИО клиента: {{ contentrequest.clientlastname }} {{ contentrequest.clientfirstname }} {{ contentrequest.clientmiddlename }}</p>
            </ng-container>
    
            <p>Адрес: {{ contentrequest.street }},{{ contentrequest.house }},{{ contentrequest.office }},</p>
            <p>Телефон: {{ contentrequest.clientphone }}</p>
    </div>
    <div class="iconNav">
        <div class="svgs">
            <ng-container *ngIf="contentrequest.employeefirstname">
                <i> <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18 18.86H17.24C16.44 18.86 15.68 19.17 15.12 19.73L13.41 21.42C12.63 22.19 11.36 22.19 10.58 21.42L8.87 19.73C8.31 19.17 7.54 18.86 6.75 18.86H6C4.34 18.86 3 17.53 3 15.89V4.97998C3 3.33998 4.34 2.01001 6 2.01001H18C19.66 2.01001 21 3.33998 21 4.97998V15.89C21 17.52 19.66 18.86 18 18.86Z"
                            stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M11.9999 10.0001C13.2868 10.0001 14.33 8.95687 14.33 7.67004C14.33 6.38322 13.2868 5.34009 11.9999 5.34009C10.7131 5.34009 9.66992 6.38322 9.66992 7.67004C9.66992 8.95687 10.7131 10.0001 11.9999 10.0001Z"
                            stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M16 15.6601C16 13.8601 14.21 12.4001 12 12.4001C9.79 12.4001 8 13.8601 8 15.6601"
                            stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg></i> 
            </ng-container>
            <ng-container *ngIf="contentrequest.statusrequest == 'Открыта'">
                <i><svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 14L8.23309 16.4248C8.66178 1.7463 9.26772 16.6728 9.60705 16.2581L18 6" stroke="#33363F"
                            stroke-width="2" stroke-linecap="round" />
                    </svg> </i>
            </ng-container>
            <ng-container *ngIf="contentrequest.statusrequest == 'закрыта'">
                <i> <svg fill="#000000" width="25px" height="25px" viewBox="0 0 128 128" id="Layer_1" version="1.1"
                        xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g>
                            <path
                                d="M64,1C47.5,1,34,14.5,34,31v26H15v70h99V57H94V31C94,14.5,80.5,1,64,1z M42,31c0-12.1,9.9-22,22-22s22,9.9,22,22v26H42V31z    M106,65v54H23V65H106z" />
                            <rect height="22" width="8" x="60" y="81" />
                        </g>
                    </svg></i>
            </ng-container>
            <ng-container *ngIf="contentrequest.statuspayment == 'оплачено'">
                <i> <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6 9.5V14.5M18 9.5V14.5M3.11111 6H20.8889C21.5025 6 22 6.53726 22 7.2V16.8C22 17.4627 21.5025 18 20.8889 18H3.11111C2.49746 18 2 17.4627 2 16.8V7.2C2 6.53726 2.49746 6 3.11111 6ZM14.5 12C14.5 13.3807 13.3807 14.5 12 14.5C10.6193 14.5 9.5 13.3807 9.5 12C9.5 10.6193 10.6193 9.5 12 9.5C13.3807 9.5 14.5 10.6193 14.5 12Z"
                            stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg></i>
            </ng-container>
        </div>
        <div class="avatarEmployee">
                <img src="../../../../../../../assets//images//profile_picture.png" alt="Картинка 1">
        </div>
    </div>
    
</div>