:host {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --light: #F9F9F9;
    --blue: rgb(139, 46, 46);
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}



.cardItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: var(--light);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: var(--light);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

}
.cardItem:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }

.leftlinecardItem {
    flex: 30px;
    background-color: #CFE8FF;
    border-radius: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.valuecardItem {
    display: flex;
    flex-direction: column;
    flex: calc(100% - 30px);
    padding: 10px;
}


.cardItemDelete {
    display: flex;
    justify-content: space-between;
}


.navBtns {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%); 
    display: flex;
    justify-content: space-between;
    width: 99%; 
    z-index: 1; 
}

.navBtns .navBtn {
    display: inline-block;
}


