<div *ngIf="isLoading; else content" class="divloader">

    <div class="loader"></div>
</div>

<ng-template #content>
    <div [@customFadeIn]>
        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="title">
                        <p class="datesSplitday">{{ datesSplit[0].day }}</p>
                        <p class="datesSplitmonth">.{{ datesSplit[0].month }}</p>
                        <p class="datesSplityear">.{{ datesSplit[0].year }}</p>
                        <p class="datesSplitmonth">&nbsp;-&nbsp;</p>
                        <p class="datesSplitday">{{ datesSplit[6].day }}</p>
                        <p class="datesSplitmonth">.{{ datesSplit[6].month }}</p>
                        <p class="datesSplityear">.{{ datesSplit[6].year }}</p>
                    </div>

                    <div class="DIVweeks">
                        <div class="DIVdaysToweek" *ngFor="let date of daysOfWeek; let i = index;">
                            <div class="titledate">
                                <p class="datesSplitday">{{ datesSplit[i].day }}</p>
                                <p class="datesSplitmonth">.{{ datesSplit[i].month }}</p>
                                <p class="datesSplityear">.{{ datesSplit[i].year }}</p>
                            </div>
                            <div class="cards">
                                <p-scrollPanel >
                                    <div *ngFor="let data of displayedData">
                                        <ng-container *ngIf="data.submissiondate == daysOfWeek[i]">
                                            <app-weekly-schedule-card [contentrequest]="data"></app-weekly-schedule-card>
                                        </ng-container>
    
                                    </div>
                                </p-scrollPanel>
                                <!-- Выводим данные из массива displayedData, если они есть -->
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="navBtns">
            <div class="navBtn">
                    <button type="button" pButton pRipple
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="'pi pi-chevron-left'" (click)="previousWeek()"></button>
            </div>
            <div class="navBtn">
                    <button type="button" pButton pRipple
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="'pi pi-chevron-right'" (click)="nextWeek()"></button>
            </div>
        </div>

        <app-add-item-modal [parameter]="modalService.someValue" *ngIf="modalService.showDialog"></app-add-item-modal>
    </div>
</ng-template>