<div class="w100 cont-horiz" style="background-color:#D0DDED;">
	<!-- Общий лист 1200px -->
	<div class="cont-vert-center-between" style=" gap:10px 10px;  max-width:1500px;">
		<div class="cont-horiz-center-start" style="gap: 30px 30px;">
			<!-- Левая колонка -->
			<div style="width:30%; background-color:#fff; height:100vh; border-radius: 24px;">
				<div class="avatar">
					<img src="assets/images/logo.png" alt="" width="180px" height="180px">
				</div>
				<p>{{currentUser.firstName}}{{currentUser.lastname}}</p>
				<div style="    display: flex; aling-items: center;">
					<img src="assets/images/location.png" alt="" width="25px" height="25px">
					<p>
						{{currentUser.city}}
					</p>
				</div>

			</div>
			<!-- Основное поле-->
			<div class="cont-vert" style="gap:64px 64px; width:75%; margin-top: 2rem;">
				<!-- Строка 1 -->
				<div class="cont-horiz-around w100" style="gap:30px 30px;">
					<div class="white33">
						<img src="assets/images/add.png" alt="">
						<p>
							Создать вакансию
						</p>
					</div>
					<div class="white33">
						<img src="assets/images/add.png" alt="">
						<p>
							Создать резюме
						</p>
					</div>
					<div class="white33">
						<img src="assets/images/add.png" alt="">
						<p>
							Создать проект
						</p>
					</div>
				</div>
				<!-- Строка 2 -->
				<div style=" display: flex; flex-direction: column; gap: 1rem;">
					<!-- Заголовок -->
					<div class="w100 cont-horiz-start title">
						Резюме
					</div>
					<!-- Карточки -->
					<div class="cards">
						<app-card [item]=value></app-card>
						<app-card [item]=value></app-card>
					</div>
					<div class="w100 cont-horiz-start title2">
						Смотреть все..
					</div>
				</div>
				<!-- Строка 3 -->
				<div style="width: 100%;">
					<!-- Заголовок -->
					<div class="w100 cont-horiz-start title">
						Вакансии
					</div>
					<!-- Карточки -->
					<div class="cont-horiz-around w100" style="gap:30px 30px; ">
						<app-card-job [item]=value style="width: 49%;"></app-card-job>
						<app-card-job [item]=value style="width: 49%;"></app-card-job>
					</div>
					<div class="w100 cont-horiz-start title2">
						Смотреть все..
					</div>
				</div>
				<!-- Строка 4 -->
				<div style="width: 100%;">
					<!-- Заголовок -->
					<div class="w100 cont-horiz-start title">
						Проекты
					</div>
					<!-- Карточки -->
					<div class="cont-horiz-around w100" style="gap:30px 30px;">
						<app-card-project [item]=value style="width: 49%;"></app-card-project>
						<app-card-project [item]=value style="width: 49%;"></app-card-project>
					</div>
					<div class="w100 cont-horiz-start title2">
						Смотреть все..
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- END Смотреть see...
	
		Вакансии
		 -->
</div>