:host{
    --black: #020202;
    --white: rgb(252 252 252 / 85%);
    --gray: #d4d4d4;
    --red: rgb(139, 46, 46);
    --dark: #282828; 
    --redd: rgb(163, 41, 41);
    }


.step h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.step input[type="text"],
.step input[type="tel"],
.step input[type="email"],
.step textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.step button {
    padding: 10px 20px;
    background-color: var(--red);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.step button.prev-step {
    background-color: #ccc;
}

.step input[type="submit"] {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #fdfeff;
    padding: 14px 10px;
    border-radius: 5px;
    background-color: var(--red);
    display: inline-block;
}

.step button:hover,
.step input[type="submit"]:hover {
    background-color: var(--redd);
}

.step textarea{
    resize: vertical;
}


.steps-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.step-number {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}

.step-number.active {
    background-color: var(--red);
}