.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%; /* Задаем ширину контейнера */
    max-width: 85%; /* Ограничиваем максимальную ширину контейнера на случай, если экран будет меньше */
    margin: 0 auto; /* Автоматически центрируем контейнер по горизонтали */
    }