<div class="details__container">
    <details>
        <summary>Каковы сроки ремонта техники?</summary>
        <div class="faq__content">
            <p>Наши мастера оперативно восстанавливают работоспособность устройств в течение 1-2 дней.</p>
        </div>
    </details>
    <details>
        <summary>Какие услуги включает обслуживание техники?</summary>
        <div class="faq__content">
            <p>Обслуживание включает в себя профилактику, чистку, настройку и консультации по использованию устройств.</p>
        </div>
    </details>
    <details>
        <summary>Какие марки техники вы обслуживаете?</summary>
        <div class="faq__content">
            <p>Мы работаем с популярными марками принтеров, сканеров и копировальных аппаратов.</p>
        </div>
    </details>
</div>
