*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
:host{
    --black: #020202;
    --white: rgb(252 252 252 / 85%);
    --gray: #d4d4d4;
    --red: rgb(139, 46, 46);
    --dark: #282828; 
    --redd: rgb(163, 41, 41);
    }
html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: Rubik;
    font-size: 12px;
    color: #616161;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* --------------------- */

.maim {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1087px;
    margin: 0px auto;
    padding: 0px 15px;
}

/* PC */

@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

/* TABLET */

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

/* MOBILE */

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}
/* Mobile SMALL (мелкие мобилки с малым разрешением) */
@media (max-width: 479.98px) {
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__logo {
    position: relative;
    z-index: 5;
}

.header__menu {
    flex: 1 1 auto;
}

.header__button {
    position: relative;
    z-index: 5;
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ---------------------- */

.menu {
    display: flex;
    justify-content: center;
}

.menu__list {
    display: flex;
    background-color: #fafbfd;
}

.menu__item {
    margin: 0px 40px 0px 0px;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #000;
    letter-spacing: 1px;
}
.menu__link:hover {
    text-decoration: underline;
}

@media (max-width: 991.98px) {
    .header__container {
        min-height: 80px;
    }
    .header__button {
        flex: 0 0 170px;
    }
    .menu__item {
        margin: 0px 30px 0px 0px;
    }
}
@media (max-width: 767.98px) {
    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 90px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }
    .header:target .menu__body {
        left: 0;
    }

    .header:target .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: #fff;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu__item {
        margin: 0 0 25px 0;
    }
    .menu__item:last-child {
        margin-bottom: 0;
    }
    .menu__link {
        color: #000;
        font-size: 20px;
    }
}
@media (max-width: 479.98px) {
    .header__logo {
        height: 200px;
        width: 80px;
    }
    .button__blue {
        display: none;
    }
}
.button_application{
  font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #fdfeff;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: var(--red);
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
}

.button_application:hover {
    background-color: #701b0e;
}

.button {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #fcfdfe;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: var(--red);
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: #701b0e;
}

.button__blue {
    background-color:#fdfeff;
    color: #701b0e;
}

.button__blue:hover {
    background: #701b0e;
    color: #fff;
}

.random-text {
    line-height: 150.5%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 17px;
}

/* -------------------------- */
.close-icon-menu,
.icon-menu {
    display: none;
}
@media (max-width: 767.98px) {
    .close-icon-menu,
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 20px;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
    }

    .icon-menu span {
        background-color: #000;
        height: 2px;
    }
}

.close-icon-menu {
    display: none;
}

.close-icon-menu::before,
.close-icon-menu::after {
    content: "";
    background-color: #000;
    height: 2px;
    transform-origin: 0 0;
}

.close-icon-menu::before {
    transform: translate(-5px, -1px) rotate(43deg);
    transform-origin: left top;
}

.close-icon-menu::after {
    transform: translate(-13px, -18px) rotate(317deg);
    transform-origin: right bottom;
}
.header:target .icon-menu {
    display: none;
}
.header:target .close-icon-menu {
    display: flex;
}

/* ================================ */


.block-text_center {
    text-align: center;
}

.block-text__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000;
}

.block-text__title:not(:last-child) {
    margin: 0px 0px 12px -20px;
}

.block-text__title span {
    color: #78cb53;
}

.block-text__title_blue span {
    color: #78cb53;
}
.block-text__text {
    line-height: 150.5%;
    font-weight: 700;
    font-size: 20px;
}

.block-text__text_mw {
    max-width: 620px;
    margin: 0 auto;
}

.block-text__text:not(:last-child) {
    margin: 0px 0px 24px -17px;
}



@media (max-width: 767.98px) {
    .block-text__title {
        font-size: 34px;
    }
}




@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);
.wordCarousel {
  font-size: 46px;
  font-weight: 100;
  color: #000000;
}
.wordCarousel div {
  overflow: hidden;
  position: relative;
  float: left;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}
.wordCarousel div li {
  font-family: Serif;
  color: var(--red);
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}


.flip3 {
  -webkit-animation: flip3 4s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip3 4s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}



@-webkit-keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}



/* =================================== */

.get-started {
    background: #fafbfd ;
}

.get-started__container {
    padding: 110px 15px 0px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.get-started__container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 267px;
    top: 0;
    background: var(--red);
    border-radius: 30px 0px 0px 30px;
    transform: translate(100%, 0px);
}
/* Уточнил, что значение width будет растягивать декор на всю ширину вью-порта */

.get-started__content {
    flex: 0 1 48%;
    padding: 0px 20px;
}
.get-started__block-text {
    max-width: 410px;
}


.get-started__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}

.get-started__image img {
    max-width: 100%;
    float: right;
}

.btn-get-started{
    width: 100%;
}


@media (max-width: 991.98px) {
    .get-started__container {
        padding: 160px 15px 30px 15px;
    }
    .get-started__container::before {
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
}

@media (max-width: 767.98px) {
    .get-started__container {
        padding: 160px 15px 30px 15px;
    }
    .get-started__container::before {
        display: none;
    }
    .get-started__block-text {
        max-width: none;
    }
    .get-started__content {
        flex: 1 1 100%;
        padding: 0;
    }
    .get-started__image {
        flex: 1 1 100%;
        text-align: center;
        padding: 30px 0;
    }
    .button__blue{
        display: none;
    }
}

/* ============================================= */


.stay-safe {
    padding: 80px 0;
}
.stay-safe__container {
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.d_article{
    flex: 0 1 25%;
    padding: 0px 15px 0px 15px;
    margin: 0 5px 0 5px;
    background-color: #fff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
}
.d_article-img{
    width: 100%;
}
.d_article-title{
    width: 100%;
    color: #000;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.d_article-content{
    width: 100%;
    color: #2e2e2e;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 20px;
}

@media (max-width: 991.98px) {
    .stay-safe {
        padding: 40px 0;
    }
}

@media (min-width: 991.98px) {
    .stay-safe__media {
        flex: 0 1 50%;
        padding: 0px 0px 0px 47px;
    }
}

@media (max-width: 767.98px) {
    .stay-safe {
        padding: 30px 0;
    }
    .stay-safe__container {
        flex-direction: column-reverse;
    }
    .stay-safe__content {
        margin: 0px 0px 30px 0px;
    }
}

@media (max-width: 479.98px) {
    .media-stay-safe {
        width: 290px;
    }
}



/* =============================== */
.stages{
    background-color: #fafbfd;
}
.stages_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame_etapi{
    max-width: 1087px;
	margin:0 auto;
	border-radius: 20px;
	
}

.title_etapi{
    width: 100%;
    height: 45px;
    font-family: source-sans-pro, sans-serif;
    font-style: revert;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    color: black;
}

.item_etapi{
	width: 425px;
	height: 30px;
	font-size: 30px;
	padding-left: 10%;
	padding-top: 4%;
}


.main-timeline .timeline{
    padding:0 2px;
    position:relative;
    display:inline-block
  }
  
  .main-timeline .col-md-2{
    -ms-flex:0 0 24%;
    flex:0 0 19%;
    max-width:24%;
  }
  
  .main-timeline .timeline-icon{
    display:block;
    text-align:center;
    padding:20px 0 55px;
    z-index:1;
    position:relative
  }
  
  .main-timeline .timeline:nth-child(2n) .timeline-icon{
    padding:55px 0 20px
  }
  
  .main-timeline .timeline-icon:before{
    content:"";
    width:9px;
    height:75%;
    background:var(--red);
    margin:0 auto;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;
    transition:all .3s ease 0s
  }
  
  
  
  .main-timeline .timeline:nth-child(2n) .timeline-icon:before{
    bottom:auto;
    top:0
  }
  
  
  .main-timeline .border{
    height:15px;
    background:var(--red);
    margin-bottom:0;
    transition:all .3s  ease 0s;
    border-radius: 20px;
  }
  
  .img_content1{
    background: var(--red);
    width: 95px;
    height: 95px;
    margin: auto;
    border-radius: 20px;
  }

  
  
  .main-timeline .timeline-content{
    padding:15px;
    border:1px solid #ddd;
    background:#f9f9f9;
    border-radius:3px;
    transition:all .3s ease 0s;
    border-radius: 20px;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  }
  

  
  
  .main-timeline .title{
    font-size:40px;
    font-weight:700;
    color:var(--red);
    text-transform:uppercase;
    margin:0 0 10px;
    transition:all .3s ease 0s;
    
  }
  
  
  .main-timeline .timeline-content .description{
    font-size: 1.5vw;
    color:#888;
    margin:0;
    transition:all .3s ease 0s
  }
  
  
  
  @media only screen and (max-width:990px){
  
    .main-timeline12 .timeline{
      margin-bottom:20px
    }
  
  }
  
  @media only screen and (max-width:767px){
  
    .main-timeline12 .timeline-icon{
      padding-top:0
    }
  
    .main-timeline12 .timeline:nth-child(2n) .timeline-icon{
     padding-bottom:0
    }
  
    .main-timeline12 .border{
      margin-bottom:10px;
      border-radius: 20px;
    }
  
    .main-timeline12 .timeline:nth-child(2n) .border{
      margin:10px 0 0
    }
  
    .main-timeline12 .timeline-content{
      text-align:center
    }
  
  }

/* =============================== */

.experts {
    background-color: #fafbfd;
    padding: 103px 0px 116px 0px;
}


.experts__block-text {
    max-width: 400px;
}

.statistics-experts {
    max-width: 655px;
    margin: 0px auto;
    position: relative;
}

.experts__body {
    display: flex;
    align-items: center;
}

.experts__content {
    flex: 0 1 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    min-height: 300px;
    background: #ffff;
    border-radius: 20px;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);

}

.experts__video {
    flex: 0 1 50%;
    padding: 0px 0px 32% 0px;
    position: relative;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    overflow: hidden;
}

.experts__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

@media (max-width: 767.98px) {
    .experts {
        padding: 80px 0px 30px 0px;
    }
    .experts__body {
        align-items: stretch;
        flex-direction: column;
    }
    .experts__video {
        padding: 0px 0px 58% 0px;
    }
    .experts__content {
        margin: 0px 0px 30px 0px;
    }
}

.statistics-experts__body {
    position: relative;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    margin: 0px 0px 80px 0px;
}

.statistics-experts__decor {
    position: absolute;
    background-color: var(--red);
    border-radius: 30px;
}
.statistics-experts__decor_1 {
    width: 65px;
    height: 65px;
    transform: rotate(-30deg);
    bottom: -21px;
    left: -21px;
    border-radius: 16px;
}
.statistics-experts__decor_2 {
    width: 97px;
    height: 97px;
    right: 50%;
    top: -40px;
    transform: rotate(30deg);
}
.statistics-experts__decor_3 {
    width: 128px;
    height: 128px;
    right: -55px;
    top: 0px;
    transform: rotate(-30deg);
}

.body-statistics-experts {
    padding: 25px 80px;
    display: flex;
    align-items: center;
}
.body-statistics-experts__item {
    flex: 0 1 25%;
    text-align: center;
    padding-left: 30px;
}
.body-statistics-experts__item:last-child {
    flex: 0 1 50%;
}
.body-statistics-experts__value {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: var(--red);
    margin-bottom: 5px;
}
.body-statistics-experts__text {
    font-weight: 700;
    font-size: 11px;
    line-height: 1.8;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
}





/*========================*/
.experts__content_forma{
    width: 100%;
    text-align: center;
}


.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*========================*/
.experts__contacts{
    width: 100%;
}
.contacts {
    padding: 0;
    list-style-type: none;
  }
  
  .contacts li {
    box-sizing: border-box;
    height: 4em;
    max-width: 21em;
    min-width: 15em;
    font-size: 22px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    color: white;
    font-family: sans-serif;
    transition: 1.3s;
    margin-left: auto;
    margin-right: auto;
    cursor: none;
    text-align-last: auto;
  }
  .contacts li h4{
    font-size: 22px;
    padding-top: 20px;
  }
  .contacts li:nth-child(odd) {
    background: linear-gradient(to right, var(--red), tomato);
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px) rotateY(30deg);
  }
  
  .contacts li:nth-child(even) {
    background: linear-gradient(to left, var(--red), tomato);
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px) rotateY(-30deg);
  }
  

/*========================*/










@media (max-width: 767.98px) {
    .statistics-experts__body {
        margin: 0px 0px 50px 0px;
    }
    .body-statistics-experts {
        padding: 25px;
    }
}

@media (max-width: 479.98px) {
    .body-statistics-experts {
        flex-direction: column;
    }
    .body-statistics-experts__item:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
}
/* ================================= */



/* ===================== */

.footer {
    padding: 25px 0;
}

.footer__container{
    text-align: center;
}

@media (max-width: 500px) {
    .footer {
        padding: 25px 0;
    }
}



/* Модальное окно оставить заявку */
dialog {
	padding: 1rem 3rem;
	background: var(--white);
	max-width: 500px;
	padding-top: 2rem;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;
    height: 550px;
    margin: auto;
}

dialog::backdrop {
		animation: fadeIn 1s ease both;
		background: rgb(255 255 255 / 40%);
		z-index: 2;
		backdrop-filter: blur(20px);
	}
.x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
}
.x:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}
	
#label_zaiavki{
    color: var(--black);
    font-size: 18px;
    text-align: center ;
}	
	
.btn_zaiavki{
    appearance: none;
    background: var(--red);
    border: 0;
    color: var(--white);
    width: 100px;
    position: relative;
    transition: filter var(--motion-duration);
    border-radius: 15px;
    float: right;
    font-size: 18px;
}


