@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title{
    width: 85%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
}

.search{
    width: 75%;
    display: flex;
    justify-content: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 0 auto; /* Центрируем контейнер */
}

.cards .card {
    flex: 0 0 48%; /* Задаем ширину каждой карточки (48% позволяет оставить место для отступов) */
    margin: 1%; /* Добавляем отступы между карточками */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Учитываем маржины и паддинги в размере элемента */
}