<header id="open" class="header">
    <div id="close" class="header__container">

        <a href="" class="header__logo">
            <img src="assets/images/logo.webp" width="170" height="170" alt="Logo">
        </a>



        <div class="header__menu menu">
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">Главная</a></li>
                    <li class="menu__item"><a href="#experts__contacts" class="menu__link">Контакты</a></li>
                    <li class="menu__item"><a [routerLink]="['/login']" class="menu__link">ЛИЧНЫЙ КАБИНЕТ</a></li>
                </ul>
            </nav>
        </div>

        <div class="header__button">
            <a href="/login/" class="button button__blue">8 777 251 69 95</a>
            <a href="#open" class="icon-menu"><span></span></a>
            <a href="#close" class="close-icon-menu"></a>
        </div>
    </div>
</header>

<section class="get-started">
    <div class="get-started__container">
        <div class="get-started__content">
            <!-- модальное окно контактов -->
            <div class="contact-container"></div>
            <dialog id="dialog">
                <app-new-application></app-new-application>
                <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
            </dialog>

            <script src="../BlogPostAssets/glav/close_dialog.js"></script>

            <h4 class="wordCarousel">

                <span>Наша компания занимается </span>

                <div>
                    <ul class="flip3">
                        <li>ремонтом</li>
                        <li>продажей</li>
                        <li>обслуживанием</li>
                    </ul>

                </div>
                <div style="width: 100%;">
                    <span>оргтехники</span>
                </div>
                <div class="btn-get-started">
                    <button class="button_application" onclick="window.dialog.showModal();">
                        <span>Оставить заявку</span>
                    </button>
                </div>

            </h4>
        </div>
        <div class="get-started__image">
            <img src="assets/images/printer.png" width="400" height="400" alt="print">
        </div>

    </div>
</section>
<section class="stay-safe">

    <div class="stay-safe__container">
        <div class="d_article">
            <div class="d_article-img">
                <img src="assets/images/584437aba6515b1e0ad7.png" width="200" height="200" alt="print">
            </div>
            <div class="d_article-title">
                Качество и гарантия
            </div>
            <div class="d_article-content">
                Мы стремимся к высокому качеству и уверены в надежности нашей работы, предоставляя гарантию
                на все выполненные работы и заменяемые комплектующие.
            </div>
        </div>
        <div class="d_article">
            <div class="d_article-img">
                <img src="assets/images/Garantiya.webp" width="200" height="200" alt="print">
            </div>
            <div class="d_article-title">
                Широкий спектр услуг
            </div>
            <div class="d_article-content">
                Мы оказываем полный спектр услуг по ремонту оргтехники, включая принтеры, копировальные
                аппараты, сканеры и другую офисную технику – независимо от поломки или модели.
            </div>
        </div>
        <div class="d_article">
            <div class="d_article-img">
                <img src="assets/images/Garantiya.webp" width="200" height="200" alt="print">
            </div>
            <div class="d_article-title">
                Персональное решение
            </div>
            <div class="d_article-content">
                Мы учитываем уникальность устройств и компаний, предлагая индивидуальный подход к клиентам –
                с учетом потребностей, бюджета и сроков.
            </div>
        </div>
        <div class="d_article">
            <div class="d_article-img">
                <img src="assets/images/Garantiya.webp" width="200" height="200" alt="print">
            </div>
            <div class="d_article-title">
                Конкурентные цены
            </div>
            <div class="d_article-content">
                Мы предлагаем доступные цены без ущерба для качества, обеспечивая конкурентоспособные
                варианты ремонта и обслуживания.
            </div>
        </div>

    </div>
</section>

<section class="stages">
    <div class="stages_container">
        <div class="frame_etapi">
            <div class="title_etapi">Этапы работы</div>
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="col-md-2 col-sm-4 timeline">
                        <span class="timeline-icon">
                            <div class="img_content1"><img src="assets/images/Garantiya.webp" width="85" height="85"
                                    class="scale"> </div>

                        </span>
                        <div class="border"></div>
                        <div class="timeline-content">
                            <h4 class="title">1 </h4>
                            <p class="description">Оформление заявки.</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-content">
                            <h4 class="title">2</h4>
                            <p class="description">Бесплатный
                                выезд диагности.</p>
                        </div>
                        <div class="border"></div>
                        <span class="timeline-icon">
                            <div class="img_content1"><img src="assets/images/PRICE.webp" width="85" height="85"
                                    class="scale"> </div>
                        </span>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <span class="timeline-icon">
                            <div class="img_content1"><img src="assets/images/chesnost.webp" width="85" height="85"
                                    class="scale"> </div>
                        </span>
                        <div class="border"></div>
                        <div class="timeline-content">
                            <h4 class="title">3</h4>
                            <p class="description">Согласование
                                плана работ.</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-content">
                            <h4 class="title">4</h4>
                            <p class="description">Проведение
                                ремонтных работ.</p>
                        </div>
                        <div class="border"></div>
                        <span class="timeline-icon">
                            <div class="img_content1"><img src="assets/images/bistroe_obslu.webp" width="85" height="85"
                                    class="scale"> </div>
                        </span>
                    </div>


                </div>
            </div>

        </div>
    </div>





    <section id="experts" class="experts">
        <div class="experts__container">
            <div class="experts__statistics statistics-experts">
                <div class="statistics-experts__body body-statistics-experts">
                    <div class="body-statistics-experts__item">
                        <div class="body-statistics-experts__value">50000+</div>
                        <div class="body-statistics-experts__text">Клиентов</div>
                    </div>
                    <div class="body-statistics-experts__item">
                        <div class="body-statistics-experts__value">
                        </div>
                        <div class="body-statistics-experts__text">лет на рынке</div>
                    </div>
                    <div class="body-statistics-experts__item">
                        <div class="body-statistics-experts__value">10,000+</div>
                        <div class="body-statistics-experts__text">Нутрициологов</div>
                    </div>
                </div>
                <div class="statistics-experts__decor statistics-experts__decor_1"></div>
                <div class="statistics-experts__decor statistics-experts__decor_2"></div>
                <div class="statistics-experts__decor statistics-experts__decor_3"></div>
            </div>

            <div class="experts__body">
                <div class="experts__content">
                    <app-new-application></app-new-application>

                    <script src="../BlogPostAssets/glav/additem.js"></script>
                    <script>

                        function addItim() {


                            $.ajax(
                                {
                                    url: "/request",
                                    method: 'post',
                                    dataType: 'json',
                                    data: {
                                        name: document.getElementById('INPUTName').value,
                                        Adres: document.getElementById('INPUTAdres').value,
                                        Nomer: document.getElementById('INPUTNomer').value,
                                        problema: document.getElementById('INPUTproblem').value
                                    },
                                    success: function (data, status) {
                                        console.log(data);
                                    }
                                });
                            console.log("Заявка отправлена")

                            document.getElementById('INPUTName').value = ''
                            document.getElementById('INPUTAdres').value = ''
                            document.getElementById('INPUTNomer').value = ''
                            document.getElementById('INPUTproblem').value = ''


                        };
                    </script>
                </div>

                <div id="experts__contacts" class="experts__contacts">
                    <ul class="contacts">
                        <li>
                            <h4>Наши контакты</h4>
                        </li>
                        <li>
                            <h4>WhatsApp +7 (777) 251 69 95</h4>
                        </li>
                        <li>
                            <h4>Телефон +7 (727) 329 41 07</h4>
                        </li>
                        <li>
                            <h4>Адрес г. Алматы, ул.Ислама Каримова 164, офис 305</h4>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </section>
    <section class="healthcare">
        <div class="healthcare__container">

        </div>
    </section>

    <footer class="footer">
        <div class="footer__container">
            copyright © Виткон сервис
        </div>
    </footer>