<div *ngIf="isLoading; else content" class="divloader">

    <div class="loader"></div>
</div>

<ng-template #content>
    <div [@customFadeIn]>
        <div class="content">
            <div class="settingsanalytic">
                <div class="card flex justify-content-center">
                    <p-accordion [activeIndex]="0">
                        <p-accordionTab header="Header 1">
                            <div class="ValueFromANDtoDate">
                                <label for="fromDate">От:</label>
                                <input type="date" id="fromDate" [(ngModel)]="fromDate"
                                    (ngModelChange)="onDateChange()">

                                <label for="toDate">до:</label>
                                <input type="date" id="toDate" [(ngModel)]="toDate" (ngModelChange)="onDateChange()">
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Header 2">
                            <div class="Valueselectline">
                                <select (change)="onChartTypeChange($event.target)">
                                    <option value="line">Линейный график</option>
                                    <option value="bar">Столбчатая диаграмма</option>
                                    <option value="radar">Радиолокационная карта</option>
                                    <option value="polarArea">Карта полярных областей</option>
                                    <option value="doughnut">круговые диаграммы</option>
                                </select>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Header 3">
                            <div class="pair">
                                <div class="form-group" class="card flex justify-content-left ">
                                    <div class="flex flex-column gap-2">
                                        <label for="statusRequest">Статус заявки:</label>
                                        <p-dropdown id="statusRequest" 
                                            [options]="dataStatusApplication" optionLabel="status_application"
                                            [style]="{'width':'170px'}" [(ngModel)]="status_application">
                                        </p-dropdown>
                                    </div>
                                </div>  
                                
                                <select [(ngModel)]="second" name="secondSelect">
                                    <option value="в">В</option>
                                    <option value="о">О</option>
                                    <option value="и">И</option>
                                </select>
                                <button (click)="addPair()">Создать пару</button>
                            </div>

                        </p-accordionTab>
                        <p-accordionTab header="Header 5">
                            <div>
                                <p>Всего заявок: {{countval }}</p>
                                <p>кол-во выполненных {{ countval2 }}</p>
                                <p>кол-во закрытых: {{ countval3 }}</p>

                                <div class="line"></div>
                                <p>Сумма прибыли: {{pribl }}</p>
                                <p>Сумма затрат на продажу: {{ saleZatrat }}</p>
                                <p>Общая сумма продаж: {{ obfaiaSale }}</p>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
            <div class="viewanalytic">
                <canvas class="chartCanvas" #chartCanvas></canvas>
            </div>
        </div>
    </div>
</ng-template>