.p-fileupload-choose {
    font-size: 16px;
}

@media screen and (max-width: 914px) {
    :host ::ng-deep .p-fileupload-filename {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .p-fileupload-choose {
        font-size: 14px;
    }
}