<div class="content">
    <a href="#" class="brand">
        <img src="../../../../../assets/images/logo.webp" width="70px" alt="">
    </a>
    <nav>
        <ul class="topmenu">
            <li [routerLink]="['home']" routerLinkActive="active" class="nav-item">
                <a>
                    <i><img src="../../../../../assets/svgs/home.svg" alt="Главная"></i>
                    <span class="material-icons-outlined">Главная</span>
                </a>
            </li>
            <li class="nav-item">
                <a>
                    <img src="../../../../../assets/svgs/Applications.svg" alt="Таблица">
                    <span class="material-icons-outlined favorite-icon"> Заявки </span>
                    <svg width="15px" height="15px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z"
                            fill="#0F0F0F" />
                    </svg>
                </a>

                <ul class="submenu">
                    <li [routerLink]="['database']" routerLinkActive="active" class="sub-item">
                        <a>
                            <i><img src="../../../../../assets/svgs/table.svg" alt="Таблица"></i>
                            <span class="material-icons-outlined">Таблица с заявками</span>
                        </a>
                    </li>
                    <li [routerLink]="['KanbanCurrentDay']" routerLinkActive="active" class="sub-item">
                        <a>
                            <i><img src="../../../../../assets/svgs/kanbanboard.svg" alt="Канбан-доска"></i>
                            <span class="material-icons-outlined">Канбан-доска на день</span>
                        </a>
                    </li>
                    <li [routerLink]="['kanbanboard']" routerLinkActive="active" class="sub-item">
                        <a>
                            <i><img src="../../../../../assets/svgs/kanbanboard.svg" alt="Канбан-доска"></i>
                            <span class="material-icons-outlined">Канбан-доска заявок</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li [routerLink]="['analytic']" routerLinkActive="active">
            <li [routerLink]="['analytic']" routerLinkActive="analytic" class="nav-item">
                <a>
                    <i><img src="../../../../../assets/svgs/analytic.svg" alt="Аналитика"></i>
                    <span class="material-icons-outlined">Аналитика</span>
                </a>
            </li>
            <li>
                <img src="../../../../../assets/images/fon.webp" class="profile" alt="">
                <ul class="submenu user-profile">
                    <li [routerLink]="['home']" routerLinkActive="active" class="sub-item">
                        <a>
                            <i><img src="../../../../../assets/svgs/home.svg" alt="Главная"></i>
                            <span class="material-icons-outlined">Главная</span>
                        </a>
                    </li>
                    <li [routerLink]="['database']" routerLinkActive="active" class="sub-item">
                        <a>
                            <i><img src="../../../../../assets/svgs/table.svg" alt="Таблица"></i>
                            <span class="material-icons-outlined">Таблица с заявками</span>
                        </a>
                    </li>
                    <li [routerLink]="['KanbanCurrentDay']" routerLinkActive="active" class="sub-item">
                        <a>
                            <i><img src="../../../../../assets/svgs/kanbanboard.svg" alt="Канбан-доска"></i>
                            <span class="material-icons-outlined">Канбан-доска на день</span>
                        </a>
                    </li>
                    <li [routerLink]="['kanbanboard']" routerLinkActive="active" class="sub-item">
                        <a>
                            <i><img src="../../../../../assets/svgs/kanbanboard.svg" alt="Канбан-доска"></i>
                            <span class="material-icons-outlined">Канбан-доска заявок</span>
                        </a>
                    </li>
                    <li [routerLink]="['analytic']" routerLinkActive="active" class="sub-item">
                        <a>
                            <i><img src="../../../../../assets/svgs/analytic.svg" alt="Аналитика"></i>
                            <span class="material-icons-outlined">Аналитика</span>
                        </a>
                    </li>
                    <li [routerLink]="['settings']" routerLinkActive="active" class="sub-item">
                        <a>
                            <i><img src="../../../../../assets/svgs/settings.svg" alt="Настройки"></i>
                            <span class="material-icons-outlined">Настройки</span>
                        </a>
                    </li>
                    <li [routerLink]="['/']" routerLinkActive="active" class="sub-item" (click)="exit()">
                        <a>
                            <i><img src="../../../../../assets/svgs//logout.svg" alt="Выйти"></i>
                            <span class="material-icons-outlined">Выйти</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>