
[class*="__container"] {
  max-width: 80%;
  margin: 0px auto;
  padding: 0px 15px;
}
  /* PC */

  @media (max-width: 1087px) {
    [class*="__container"] {
      max-width: 970px;
    }
  }

  /* TABLET */

  @media (max-width: 991.98px) {
    [class*="__container"] {
      max-width: 750px;
    }
  }

  /* MOBILE */

  @media (max-width: 767.98px) {
    [class*="__container"] {
      max-width: none;
    }
  }

  /* Mobile SMALL (мелкие мобилки с малым разрешением) */
  @media (max-width: 479.98px) {}



  .stage__container{
    max-width: 60%;
    margin: 0px auto;
    padding: 0px 15px;
  }