<section class="stages">
    <div class="stages_container">
        <div class="frame_etapi">
            <div class="title_etapi">Этапы работы</div>
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="col-md-2 col-sm-4 timeline">
                        <span class="timeline-icon">
                            <div class="img_content1"><img src="assets/images/Garantiya.webp" width="85" height="85"
                                    class="scale"> </div>

                        </span>
                        <div class="border"></div>
                        <div class="timeline-content">
                            <h4 class="title">1 </h4>
                            <p class="description">Оформление заявки.</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-content">
                            <h4 class="title">2</h4>
                            <p class="description">Бесплатный
                                выезд диагности.</p>
                        </div>
                        <div class="border"></div>
                        <span class="timeline-icon">
                            <div class="img_content1"><img src="assets/images/PRICE.webp" width="85" height="85"
                                    class="scale"> </div>
                        </span>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <span class="timeline-icon">
                            <div class="img_content1"><img src="assets/images/chesnost.webp" width="85" height="85"
                                    class="scale"> </div>
                        </span>
                        <div class="border"></div>
                        <div class="timeline-content">
                            <h4 class="title">3</h4>
                            <p class="description">Согласование
                                плана работ.</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 timeline">
                        <div class="timeline-content">
                            <h4 class="title">4</h4>
                            <p class="description">Проведение
                                ремонтных работ.</p>
                        </div>
                        <div class="border"></div>
                        <span class="timeline-icon">
                            <div class="img_content1"><img src="assets/images/bistroe_obslu.webp" width="85" height="85"
                                    class="scale"> </div>
                        </span>
                    </div>


                </div>
            </div>

        </div>
    </div>

</section>