<h3 class="title">
    <strong>Наши преимущества</strong>
</h3>
<div class="stay-safe__container">
   
    <p-card class="p_card" header="Профессионализм и Опыт"  [style]="{ width: '100%' }" >
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Наша команда состоит из высококвалифицированных специалистов
            с многолетним опытом работы
            в сфере ремонта и обслуживания оргтехники.
        </p>
    </p-card>
 
    <p-card class="p_card" header="Разносторонний ремонт" [style]="{ width: '100%' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Мы решаем проблемы с принтерами, копировальными аппаратами,
            сканерами и другой офисной техникой – независимо от модели и характера поломки.
        </p>
    </p-card>

    <p-card class="p_card" header="Индивидуальный подход" [style]="{ width: '100%' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Учитываем уникальность устройств и особенности каждой компании.
            Наши услуги адаптируются под потребности, бюджет и сроки клиента.
        </p>
    </p-card>

    <p-card class="p_card" header="Доступные цены" [style]="{ width: '100%' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <p>
            Предоставляем конкурентоспособные варианты ремонта и
            обслуживания без потери в качестве. Наша ценовая
            политика – забота о бюджете заказчика.
        </p>
    </p-card>
   
</div>