.Homepage {
	width: 100%;
	height: 100%;

}

.ContentHomepage {
	box-sizing: border-box;
	/* Учитываем границы и отступы в общей ширине */
	width: 100%;
	/* Ширина блока равна 100% ширины видимого экрана */
	height: 100vh;
	/* Высота блока равна 100% высоты видимого экрана */
	padding: 0px 10px 0px 10px;
	;
	/* Добавляем отступы по 20px с каждой стороны */

	display: flex;
	flex-direction: column;
}


.loader {
	border: 4px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	border-top: 4px solid #3498db;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
	margin: 20px auto;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  