<div class="container">
    <div class="containerItem NewItems">
        <div class="title">
            Новые заявки
        </div>

            <div   *ngFor="let data of displayedData ">
                <div  *ngIf="(data.statusrequest == '' || data.statusrequest == null)  && (data.id_employee == '' || data.id_employee == null)  ">
                    <div class="newItem" (click)="viewEditItem(data.id)">
                        
                        <p>№{{data.RequestNumber}}</p>
                        <p>Компания: {{data.namecompany}}</p>
                        <p>Адрес: {{data.street}},{{data.house}},{{data.office}}</p>
                        <p>Причина обращения: {{data.reason}}</p>
                    </div>
                </div>
            </div>

    </div>
    <div class="containerItem AtWorkItems">
        <div class="title">
            В работе заявки
        </div>
            <div *ngFor="let data of displayedData">
                <div *ngIf="data.statusrequest == '' && data.EmployeeId != ''  ">
                    <div class="newItem" (click)="viewEditItem(data.id)">
                        
                        <p>№{{data.requestnumber}}</p>
                        <p>Компания: {{data.namecompany}}</p>
                        <p>Адрес: {{data.street}},{{data.house}},{{data.office}}</p>
                        <p>Причина обращения: {{data.reason}}</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="containerItem CompletedItems">
        <div class="title">
            Завершенные заявки
        </div>
            <div *ngFor="let data of displayedData">
                <div *ngIf="data.statusrequest == 'Открыта'  ">
                    <div class="newItem" (click)="viewEditItem(data.id)">
                        
                        <p>№{{data.requestnumber}}</p>
                        <p>Компания: {{data.namecompany}}</p>
                        <p>Адрес: {{data.street}},{{data.house}},{{data.office}}</p>
                        <p>Причина обращения: {{data.reason}}</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="containerItem ClosedItems">
        <div class="title">
            Закрытые заявки
        </div>
            <div *ngFor="let data of displayedData">
                <div *ngIf="data.statusrequest == 'Закрыта'  ">
                    <div class="newItem" (click)="viewEditItem(data.id)">
                        
                        <p>№{{data.requestnumber}}</p>
                        <p>Компания: {{data.namecompany}}</p>
                        <p>Адрес: {{data.street}},{{data.house}},{{data.office}}</p>
                        <p>Причина обращения: {{data.reason}}</p>
                    </div>
                </div>
        </div>
    </div>
</div>

<app-add-item-modal [parameter]="someValue" *ngIf="modalService.showDialog"></app-add-item-modal>