<form [formGroup]="connectForm" (ngSubmit)="onSubmit()" class="ConnectForm"
    style="    display: flex; flex-direction: column; gap: 1.5rem;">
    <div class="inputs">
        <div class="item">
            <div class="input-container inputlogin">
                <input type="text" id="myInput" name="myInput" formControlName="login">
            </div>
    
        </div>
        <div class="item">
            <div class="input-container inputpassword">
                <input type="text" id="myInput" name="myInput" formControlName="password">
            </div>
    
        </div>
    
        <div class="invalidUsernameOrPassword">{{ errorMessage }}</div>
        <div class="buttons">
            <p-button label="Войти" type="ngSubmit" [disabled]="connectForm.invalid"></p-button>
        </div>
    </div>
    
</form>