:root{
    --red: rgba(85, 0, 0, 0.493);
    --black: rgba(15, 15, 15, 0.493);
}

.form{
    width: 42%;
    padding: 30px;
    transition: margin-left 0.18s ease;
    display: flex;
}

.form .text{
    color: #040404;
    font-size: 14px;   
}


.input-container {
    position: relative;
  }
.item{
    margin-bottom: 1.5rem;
  }
  
.input-container input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    padding-top: 20px;
    border-radius: 7px;
    border: 1px solid #ababab;
  }
  
  .input-container::before {
    
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    background-color: white;
  }

  .inputlogin::before{
    content: "Логин";
  }
  .inputpassword::before{
    content: "Пароль";
  }
  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputs {
    background: #ffffff;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }