<div class="row">
    <div>
    <img src="../../../../../../assets//images/printer-img.png"  width="100%" alt="">
    </div>
    <div class="text">
        <h3 class="title">
            <strong>О нас</strong>
        </h3>
        <p class="mbr-text">Мы - команда профессионалов, специализирующихся на ремонте, обслуживании и продаже оргтехники.</p>
        <p class="mbr-text">Наша цель - сделать ваш офисный процесс более эффективным и беззаботным.</p>
        <p class="mbr-text">Доверьте нам заботу о вашей технике, и вы почувствуете разницу!</p>
    </div>
</div>