.row{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    flex-direction: row;  
    align-content: stretch;
    padding-bottom: 5rem;
}
img{
border-radius: 2rem;
}
.text{
    padding: 1rem;
}
.title {
    font-family: 'Inter Tight', sans-serif;
    font-size: 4rem;
    line-height: 1;
}
.mbr-text {
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
}


@media (max-width: 991.98px) {
    .row{
        flex-direction: column;
    }
}