
/* Модальное окно оставить заявку */
dialog {
	padding: 1rem 3rem;
	background: var(--white);
	max-width: 500px;
	padding-top: 2rem;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;
    height: 550px;
    margin: auto;
}

dialog::backdrop {
		animation: fadeIn 1s ease both;
		background: rgb(255 255 255 / 40%);
		z-index: 2;
		backdrop-filter: blur(20px);
	}
.x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
}
.x:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}
	
#label_zaiavki{
    color: var(--black);
    font-size: 18px;
    text-align: center ;
}	
	
.btn_zaiavki{
    appearance: none;
    background: var(--red);
    border: 0;
    color: var(--white);
    width: 100px;
    position: relative;
    transition: filter var(--motion-duration);
    border-radius: 15px;
    float: right;
    font-size: 18px;
}


