<div class="whitebox cont-vert-start-start">
    <div class="w100" style="text-align:left;">
        <h3>Резюме 1</h3>
    </div>  
    <p>Владимир Сидоров - профессиональный Java-разработчик с более чем 15-летним опытом работы. Он специализируется на разработке масштабных корпоративных приложений, проектировании архитектуры и внедрении новых технологий. Владимир владеет языком программирования Java и фреймворком Spring Boot. Готов к работе на условиях контракта.
    </p>
    <div class="w100 " style="text-align:left;">
        <h4>Специальность:</h4> 
    </div>   
    <!-- Теги -->
    <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
        <!-- Тег1 -->
        <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
            Мобильный разработчик
            <div class="round30-yellow">
                S
            </div>
        </div>
        <!-- Тег2 -->
        <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
            Desctop разработчик
            <div class="round30-red">
                S
            </div>
        </div>
    </div>	
    <div class="w100 " style="text-align:left;">
        <h4>Навыки:</h4>
        <!-- Теги -->
        <div class="cont-horiz-start-start" style="gap:10px 10px; flex-flow:wrap; ">
            <!-- Тег1 -->
            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                Visual Studio Code
                <div class="round30-green">
                    S
                </div>
            </div>
            <!-- Тег2 -->
            <div class="btn_spec_lvl cont-horiz" style="gap:10px 10px;">
                Visual Studio Code
                <div class="round30-red">
                    S
                </div>
            </div>
        </div>	
    </div>
    <div class="w100 cont-vert-start-start" style="text-align:left; ">
        <h4>Мотивация:</h4>
        <!-- Теги -->
        <div class="horiz-start-start" style="display:flex; gap:10px 10px;  flex-flow:wrap;">
            <div class="btn-yellow cont-horiz" style="gap:10px 10px;">
                Без оплаты 
            </div>
            <div class="btn-green cont-horiz" style="gap:10px 10px;">
                За оплату 
            </div>
            
            <div class="btn-magenta cont-horiz" style="gap:10px 10px;">
                Нужна практика
            </div>
            <div class="btn-blue-light cont-horiz" style="gap:10px 10px;">
                За долю
            </div>
        </div>
    </div>
    
    <div class="w100 cont-horiz-between" style="margin-top: 30px;">
        <!-- Аватарка -->
        <img src="assets/images/ava.png">
        <div class="cont-horiz" style="gap: 15px 15px;">
            <!-- Лайки -->
            <div class="cont-vert">	
                <img src="assets/images//like.png" style="width:30px; height:30px;">
                12
            </div>
            <!-- Комментарии -->
            <div class="cont-vert" style="width:30px; height:30px;">	
                <img src="assets/images//comment.png">
                24
            </div>
            
        </div>
    </div>
</div> 
<!-- Карточка 1 End -->