<div class="border">

    <div class="content">
        
        <div class="items">
            <p class="title">
                {{item.title}}
            </p>
            <p class="description">
                {{item.description}}
            </p>
            
        </div>
        <p class="description">
            Профессия:
        </p>
        <p class="description">
            Навыки:
        </p>
        <div class="left-content">
            <div style=" display: flex; align-items: center; gap: 1rem;">
                <div class="avatar">
                    <img src="assets/images/logo.png" alt="Logo">
        
                </div>
                <p>
                    {{item.lastname}} {{item.nane}}
                </p>
            </div>

            <div class="icon">
                <img src="assets/images/like.png" alt="like">
                <img src="assets/images/comment.png" alt="comment">
            </div>
           
        </div>
        
    </div>
    
</div>