<div class="items_point">
    <div class="item">
        <div class="item-wrapper">
            <div class="title mb-3">
                <span class="num">
                    <strong>01.</strong>
                </span>
            </div>
            <h4 class="card-title">
                <strong>Экспресс-ремонт</strong>
            </h4>
            <p class="mbr-text">Быстро и качественно восстановим ваше оборудование, не теряя времени на бумажную волокиту.</p>
        </div>
    </div>

    <div class="item">
        <div class="item-wrapper">
            <div class="title mb-3">
                <span class="num">
                    <strong>02.</strong>
                </span>
            </div>
            <h4 class="card-title">
                <strong>Обслуживание</strong>
            </h4>
            <p class="mbr-text">Регулярное техническое обслуживание для бесперебойной работы вашей техники.</p>
        </div>
    </div>

    <div class="item">
        <div class="item-wrapper">
            <div class="title mb-3">
                <span class="num">
                    <strong>03.</strong>
                </span>
            </div>
            <h4 class="card-title">
                <strong>Продажа</strong>
            </h4>
            <p class="mbr-text">Широкий выбор новой и бывшей в употреблении техники с гарантией качества.</p>
        </div>
    </div>
</div>