.items_point{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item{
    width: 25%;
    padding: 10px;
    border-radius: 2rem !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.num{
    font-size: 4rem
}

.card-title{
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.4rem;
    line-height: 1.3;
    margin: 0;
}

.mbr-text{
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    margin-top: 10px;
}

@media (max-width: 991.98px) {
    .item{
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 767.98px) {
    .item{
        width: 100%;
    }
}