<div class="container">
    <app-staff-user *ngFor="let card of DataUsers"  [contentUser]="card"></app-staff-user>
    <div class="card">
        <svg width="100px" height="100px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 12H19" stroke="#c8c8c8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 5L12 19" stroke="#c8c8c8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
    </div>
</div>

