<section class="stay-safe">

    <div class="stay-safe__container">
        <div class="d_article">
            <div class="d_article-img">
                <img src="assets/images/584437aba6515b1e0ad7.png" width="200" height="200" alt="print">
            </div>
            <div class="d_article-title">
                Качество и гарантия
            </div>
            <div class="d_article-content">
                Мы стремимся к высокому качеству и уверены в надежности нашей работы, предоставляя гарантию
                на все выполненные работы и заменяемые комплектующие.
            </div>
        </div>
        <div class="d_article">
            <div class="d_article-img">
                <img src="assets/images/Garantiya.webp" width="200" height="200" alt="print">
            </div>
            <div class="d_article-title">
                Широкий спектр услуг
            </div>
            <div class="d_article-content">
                Мы оказываем полный спектр услуг по ремонту оргтехники, включая принтеры, копировальные
                аппараты, сканеры и другую офисную технику – независимо от поломки или модели.
            </div>
        </div>
        <div class="d_article">
            <div class="d_article-img">
                <img src="assets/images/Garantiya.webp" width="200" height="200" alt="print">
            </div>
            <div class="d_article-title">
                Персональное решение
            </div>
            <div class="d_article-content">
                Мы учитываем уникальность устройств и компаний, предлагая индивидуальный подход к клиентам –
                с учетом потребностей, бюджета и сроков.
            </div>
        </div>
        <div class="d_article">
            <div class="d_article-img">
                <img src="assets/images/Garantiya.webp" width="200" height="200" alt="print">
            </div>
            <div class="d_article-title">
                Конкурентные цены
            </div>
            <div class="d_article-content">
                Мы предлагаем доступные цены без ущерба для качества, обеспечивая конкурентоспособные
                варианты ремонта и обслуживания.
            </div>
        </div>

    </div>
</section>