*,
*::before,
*::after {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
:host{
    --black: #020202;
    --white: rgb(252 252 252 / 85%);
    --gray: #d4d4d4;
    --red: rgb(139, 46, 46);
    --dark: #282828; 
    --redd: rgb(163, 41, 41);
    }
html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: Rubik;
    font-size: 12px;
    color: #616161;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* --------------------- */

.maim {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 80%;
    margin: 0px auto;
    padding: 0px 15px;
}



.stay-safe {
    padding: 80px 0;
}
.stay-safe__container {
    display: flex;
    align-items: stretch;
    justify-content: center;
}


:host ::ng-deep .p_card {
    margin: 5px !important;
    height: 100% !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Добавляем плавность к изменениям */
}

:host ::ng-deep .p_card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}



@media (max-width: 1024.98px) {
    ::ng-deep .p-card-header img {
        width: 60% !important;
    }
 
}

@media (max-width: 991.98px) {
    .stay-safe {
        padding: 40px 0;
    }
    :host ::ng-deep p-card {
        width: 45% !important;
    }
    .stay-safe__container {
        flex-wrap: wrap;
    }
    
}

@media (min-width: 991.98px) {
    .stay-safe__media {
        flex: 0 1 50%;
        padding: 0px 0px 0px 47px;
    }
}

@media (max-width: 767.98px) {
    .stay-safe {
        padding: 30px 0;
    }
    .stay-safe__container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .stay-safe__content {
        margin: 0px 0px 30px 0px;
    }
    :host ::ng-deep p-card {
        width: 95% !important;
    }
}

@media (max-width: 479.98px) {
    .media-stay-safe {
        width: 290px;
    }
}



