<form [formGroup]="resetPasswordForm">
    <div>
      <label for="newPassword">новый пароль:</label>
      <input type="password" id="newPassword" pInputText formControlName="newPassword" />
    </div>
    <div>
      <label for="ConfirmNewPassword">Подтвердите пароль:</label>
      <input type="password" id="ConfirmNewPassword" pInputText formControlName="ConfirmNewPassword" />
      <div *ngIf="resetPasswordForm.hasError('passwordMismatch')">
        Пароли не совпадают.
      </div>
      <div *ngIf="resetPasswordForm.hasError('passwordLength')">
        Пароль должен содержать не менее 8 символов.
      </div>
    </div>
  </form>                  
<div class="btns">
    <p-button label="Изменить"></p-button>
</div>
