*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
:host{
    --black: #020202;
    --white: rgb(252 252 252 / 85%);
    --gray: #d4d4d4;
    --red: rgb(139, 46, 46);
    --dark: #282828; 
    --redd: rgb(163, 41, 41);
    }
html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: Rubik;
    font-size: 12px;
    color: #616161;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* --------------------- */

.maim {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 80%;
    margin: 0px auto;
    padding: 0px 15px;
}

/* PC */

@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

/* TABLET */

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

/* MOBILE */

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}
/* Mobile SMALL (мелкие мобилки с малым разрешением) */
@media (max-width: 479.98px) {
}

/* =============================== */

.experts {
    padding: 103px 0px 116px 0px;
}


.experts__block-text {
    max-width: 400px;
}

.statistics-experts {
    max-width: 655px;
    margin: 0px auto;
    position: relative;
}

.experts__body {
    display: flex;
    align-items: center;
}

.experts__content {
    flex: 0 1 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    min-height: 300px;
    border-radius: 20px;
}

.experts__video {
    flex: 0 1 50%;
    padding: 0px 0px 32% 0px;
    position: relative;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    overflow: hidden;
}

.experts__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

@media (max-width: 767.98px) {
    .experts {
        padding: 80px 0px 30px 0px;
    }
    .experts__body {
        align-items: stretch;
        flex-direction: column;
    }
    .experts__video {
        padding: 0px 0px 58% 0px;
    }
    .experts__content {
        margin: 0px 0px 30px 0px;
    }
}

.statistics-experts__body {
    position: relative;
    z-index: 2;
    border-radius: 16px;
    margin: 0px 0px 80px 0px;
}

.statistics-experts__decor {
    position: absolute;
    background-color: var(--red);
    border-radius: 30px;
}
.statistics-experts__decor_1 {
    width: 65px;
    height: 65px;
    transform: rotate(-30deg);
    bottom: -21px;
    left: -21px;
    border-radius: 16px;
}
.statistics-experts__decor_2 {
    width: 97px;
    height: 97px;
    right: 50%;
    top: -40px;
    transform: rotate(30deg);
}
.statistics-experts__decor_3 {
    width: 128px;
    height: 128px;
    right: -55px;
    top: 0px;
    transform: rotate(-30deg);
}

.body-statistics-experts {
    padding: 25px 80px;
    display: flex;
    align-items: center;
}
.body-statistics-experts__item {
    flex: 0 1 25%;
    text-align: center;
    padding-left: 30px;
}
.body-statistics-experts__item:last-child {
    flex: 0 1 50%;
}
.body-statistics-experts__value {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: var(--red);
    margin-bottom: 5px;
}
.body-statistics-experts__text {
    font-weight: 700;
    font-size: 11px;
    line-height: 1.8;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
}





/*========================*/
.experts__content_forma{
    width: 100%;
    text-align: center;
}


.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/*========================*/
.experts__contacts{
    width: 100%;
}
.contacts {
    padding: 0;
    list-style-type: none;
  }
  
  .contacts li {
    box-sizing: border-box;
    height: 4em;
    max-width: 21em;
    min-width: 15em;
    font-size: 22px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    color: white;
    font-family: sans-serif;
    transition: 1.3s;
    margin-left: auto;
    margin-right: auto;
    cursor: none;
    text-align-last: auto;
  }
  .contacts li h4{
    font-size: 22px;
    padding-top: 20px;
  }
  .contacts li:nth-child(odd) {
    background: linear-gradient(to right, var(--red), tomato);
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px) rotateY(30deg);
  }
  
  .contacts li:nth-child(even) {
    background: linear-gradient(to left, var(--red), tomato);
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px) rotateY(-30deg);
  }
  

@media (max-width: 767.98px) {
    .statistics-experts__body {
        margin: 0px 0px 50px 0px;
    }
    .body-statistics-experts {
        padding: 25px;
    }
}

@media (max-width: 479.98px) {
    .body-statistics-experts {
        flex-direction: column;
    }
    .body-statistics-experts__item:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }
}

