<section id="experts" class="experts">
    <div class="experts__container">
        <div class="experts__statistics statistics-experts">
            <div class="statistics-experts__body body-statistics-experts">
                <div class="body-statistics-experts__item">
                    <div class="body-statistics-experts__value">50000+</div>
                    <div class="body-statistics-experts__text">Клиентов</div>
                </div>
                <div class="body-statistics-experts__item">
                    <div class="body-statistics-experts__value">
                    </div>
                    <div class="body-statistics-experts__text">лет на рынке</div>
                </div>
                <div class="body-statistics-experts__item">
                    <div class="body-statistics-experts__value">10,000+</div>
                    <div class="body-statistics-experts__text">Нутрициологов</div>
                </div>
            </div>
            <div class="statistics-experts__decor statistics-experts__decor_1"></div>
            <div class="statistics-experts__decor statistics-experts__decor_2"></div>
            <div class="statistics-experts__decor statistics-experts__decor_3"></div>
        </div>

        <div class="experts__body">
            <div class="experts__content">
                <app-new-application></app-new-application>
            </div>

            <div id="experts__contacts" class="experts__contacts">
                <ul class="contacts">
                    <li>
                        <h4>Наши контакты</h4>
                    </li>
                    <li>
                        <h4>WhatsApp +7 (777) 251 69 95</h4>
                    </li>
                    <li>
                        <h4>Телефон +7 (727) 329 41 07</h4>
                    </li>
                    <li>
                        <h4>Адрес г. Алматы, ул.Ислама Каримова 164, офис 305</h4>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</section>