<section class="get-started">
    <div class="get-started__container">
        <div class="content">
            <div class="get-started__content">
                <app-dialog-new-application></app-dialog-new-application>
                <h4 >
                    <span>Добро пожаловать в Виткон Сервис! </span>
                    <br>
                    <p>Ваш надежный партнер по ремонту, обслуживанию и продаже офисной техники!</p>
                </h4>
            </div>
            <div class="btn-get-started">
                <p-button label="Оставить заявку" onclick="window.dialog.showModal();"></p-button>
            </div>
        </div>
        <div class="get-started__form">
            <app-new-application></app-new-application>
        </div>
    </div>
    
</section>
