<section class="get-started">
    <div class="get-started__container">
        <div class="get-started__content">
            <app-dialog-new-application></app-dialog-new-application>
            <h4 class="wordCarousel">
                <span>Наша компания занимается </span>
                <div>
                    <ul class="flip3">
                        <li>ремонтом</li>
                        <li>продажей</li>
                        <li>обслуживанием</li>
                    </ul>
                </div>
                <div style="width: 100%;">
                    <span>оргтехники</span>
                </div>
                <div class="btn-get-started">
                    <button class="button_application" onclick="window.dialog.showModal();">
                        <span>Оставить заявку</span>
                    </button>
                </div>
            </h4>
        </div>
       
    </div>
</section>
