<div *ngIf="isLoading; else content">
    <div class="loader"></div>
</div>
<ng-template #content>
    <div [@customFadeIn]>
        <div class="card">
            <p-table [value]="transformedData" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [paginator]="true"
                [rows]="3" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Отображение с {first} по {last} из  {totalRecords} записей"
                (onPage)="pageChange($event)" [rowsPerPageOptions]="[3, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th></th>
                        <th pSortableColumn="id" style="display: none;">ID заявки <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="requestnumber" style="width: 100px;">Номер заявки <p-sortIcon
                                field="requestnumber"></p-sortIcon></th>
                        <th pSortableColumn="statuspayment">Статус оплаты <p-sortIcon
                                field="statuspayment"></p-sortIcon>
                        </th>
                        <th pSortableColumn="statusrequest" style="width: 125px;">Статус заявки <p-sortIcon
                                field="statusrequest"></p-sortIcon></th>
                        <th pSortableColumn="employeelastname">Сотрудник <p-sortIcon
                                field="employeelastname"></p-sortIcon>
                        </th>
                        <th pSortableColumn="discharged" style="width: 150px;">Выписано/Не выписано <p-sortIcon
                                field="discharged"></p-sortIcon></th>
                        <th pSortableColumn="submissiondate">Дата <p-sortIcon field="submissiondate"></p-sortIcon></th>
                        <th pSortableColumn="revenue">Доход <p-sortIcon field="revenue"></p-sortIcon></th>
                        <th pSortableColumn="expenses">Затраты <p-sortIcon field="expenses"></p-sortIcon></th>
                        <th pSortableColumn="profit">Прибыль <p-sortIcon field="profit"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="data"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>
                            <div class="btnrow">

                                <button pButton pRipple type="button" icon="pi pi-times"
                                    class="p-button-rounded p-button-text p-button-danger"
                                    (click)="confirm1($event, data.id, data.requestnumber)"></button>
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                    class="p-button-rounded p-button-text" (click)="openModal(data.id)"></button>

                            </div>
                        </td>
                        <td style="display: none;">{{data.id}}</td>
                        <td>{{data.typerequest}}-{{data.requestnumber}}</td>
                        <td>{{data.statuspayment}}</td>
                        <td>{{data.statusrequest}}</td>
                        <td>{{data.employeelastname}} {{data.employeefirstname}} {{data.employeemiddlename}}</td>
                        <td>{{data.discharged}}</td>
                        <td>{{data.submissiondate}}</td>
                        <td>{{data.revenue}}</td>
                        <td>{{data.expenses}}</td>
                        <td>{{data.profit}} </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-data>
                    <tr>
                        <td colspan="12">
                            <div class="p-1">
                                <p-table [value]="data.child" dataKey="id">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th>Компания</th>
                        <th>Адрес</th>
                        <th>Содержание</th>
                        <th>Комментарий</th>
                        <th>Клиент</th>
                        <th style="width: 100px;">Телефон клиента</th>
                        <th>Оценка</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-child>
                    <tr>
                        <td>{{child.namecompany}}</td>
                        <td>{{child.street}}, {{child.house}}, {{child.office}}</td>
                        <td>{{child.reason}}</td>
                        <td>{{child.comment}}</td>
                        <td>{{child.clientlastname}} {{child.clientfirstname}} {{child.clientmiddlename}}</td>
                        <td>{{child.clientphone}}</td>
                        <td> <p-rating [(ngModel)]="child.estimation" [readonly]="true" [cancel]="false"></p-rating>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
        </td>
        </tr>
</ng-template>
</p-table>
</div>
<p-toast></p-toast>
<app-add-item-modal [parameter]="someValue" *ngIf="modalService.showDialog"></app-add-item-modal>
</div>
</ng-template>

<div class="card flex justify-content-center gap-2">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
</div>