*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
:host{
    --black: #020202;
    --white: rgb(252 252 252 / 85%);
    --gray: #d4d4d4;
    --red: rgb(139, 46, 46);
    --dark: #282828; 
    --redd: rgb(163, 41, 41);
    }
html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: Rubik;
    font-size: 12px;
    color: #616161;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* --------------------- */

.maim {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 80%;
    margin: 0px auto;
    padding: 0px 15px;
}

/* PC */

@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

/* TABLET */

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

/* MOBILE */

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}
/* Mobile SMALL (мелкие мобилки с малым разрешением) */
@media (max-width: 479.98px) {
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__logo {
    position: relative;
    z-index: 5;
}

.header__menu {
    flex: 1 1 auto;
}

.header__button {
    position: relative;
    z-index: 5;
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ---------------------- */

.menu {
    display: flex;
    justify-content: center;
}

.menu__list {
    display: flex;
    background-color: #fafbfd;
}

.menu__item {
    margin: 0px 40px 0px 0px;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #000;
    letter-spacing: 1px;
}
.menu__link:hover {
    text-decoration: underline;
}

@media (max-width: 991.98px) {
    .header__container {
        min-height: 80px;
    }
    .header__button {
        flex: 0 0 170px;
    }
    .menu__item {
        margin: 0px 30px 0px 0px;
    }
}
@media (max-width: 767.98px) {
    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 90px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }
    .header:target .menu__body {
        left: 0;
    }

    .header:target .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: #fff;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu__item {
        margin: 0 0 25px 0;
    }
    .menu__item:last-child {
        margin-bottom: 0;
    }
    .menu__link {
        color: #000;
        font-size: 20px;
    }
}
@media (max-width: 479.98px) {
    .header__logo {
        height: 200px;
        width: 80px;
    }
    .button__blue {
        display: none;
    }
}
.button_application{
  font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #fdfeff;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: var(--red);
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
}

.button_application:hover {
    background-color: #701b0e;
}

.button {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #fcfdfe;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: var(--red);
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: #701b0e;
}

.button__blue {
    background-color:#fdfeff;
    color: #701b0e;
}

.button__blue:hover {
    background: #701b0e;
    color: #fff;
}

.random-text {
    line-height: 150.5%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 17px;
}

/* -------------------------- */
.close-icon-menu,
.icon-menu {
    display: none;
}
@media (max-width: 767.98px) {
    .close-icon-menu,
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 20px;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
    }

    .icon-menu span {
        background-color: #000;
        height: 2px;
    }
}

.close-icon-menu {
    display: none;
}

.close-icon-menu::before,
.close-icon-menu::after {
    content: "";
    background-color: #000;
    height: 2px;
    transform-origin: 0 0;
}

.close-icon-menu::before {
    transform: translate(-5px, -1px) rotate(43deg);
    transform-origin: left top;
}

.close-icon-menu::after {
    transform: translate(-13px, -18px) rotate(317deg);
    transform-origin: right bottom;
}
.header:target .icon-menu {
    display: none;
}
.header:target .close-icon-menu {
    display: flex;
}



