<header id="open" class="header">
    <div id="close" class="header__container">

        <a href="" class="header__logo">
            <img src="assets/images/logo.webp" width="170" height="170" alt="Logo">
        </a>



        <div class="header__menu menu">
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">Главная</a></li>
                    <li class="menu__item" ><a href="#experts__contacts" class="menu__link">Контакты</a></li>
                    <li class="menu__item"><a [routerLink]="['/login']" class="menu__link">ЛИЧНЫЙ КАБИНЕТ</a></li>
                </ul>
            </nav>
        </div>

        <div class="header__button">
            <a href="/login/" class="button button__blue">8 777 251 69 95</a>
            <a href="#open" class="icon-menu"><span></span></a>
            <a href="#close" class="close-icon-menu"></a>
        </div>
    </div>
</header>